Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

added validation
  package-lock.json
  package.json
  src/router.ts
  src/validators/suggestions.ts
Due: none

moved validation handling to middleware
  src/modules/middleware.ts
  src/router.ts
Due: none

simple working search
  src/handlers/suggestions.ts
  src/router.ts
  src/seed/index.ts
Due: none

added Gin index
  prisma/migrations/20230816212614_init/migration.sql
  prisma/schema.prisma
Due: none

added score for query string only
  package-lock.json
  package.json
  src/handlers/lib.ts
  src/handlers/suggestions.ts
Due: none

added score for query string, lat, long and sorting output
  .vscode/settings.json
  package-lock.json
  package.json
  src/handlers/lib.ts
  src/handlers/suggestions.ts
Due: none

add rate limit
  package-lock.json
  package.json
  src/modules/middleware.ts
  src/server.ts
Due: none

validate env before starting any service
  .vscode/settings.json
  package-lock.json
  package.json
  src/handlers/suggestions.ts
  src/modules/middleware.ts
  src/server.ts
Due: none

added redis and docker
  docker-compose.yaml
  docker/init-extension.sql
  env.example.txt
  package-lock.json
  package.json
  prisma/migrations/20230816231633_init/migration.sql
  src/handlers/lib.ts
  src/handlers/suggestions.ts
  src/modules/middleware.ts
  src/modules/redis.ts
Due: none

added tests and updated models to include ascii
  .prettierignore
  .vscode/settings.json
  jest.config.js
  package-lock.json
  package.json
  prisma/migrations/20230817020017_init/migration.sql
  prisma/schema.prisma
  src/handlers/lib.ts
  src/handlers/suggestions.ts
  src/seed/lib.ts
  src/seed/types.ts
  test/suggestions.js
  test/suggestions.test.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

updated TSConfig
  package-lock.json
  prisma/migrations/20230817023625_init/migration.sql
  tsconfig.json
Due: none

changed name from lat to latitude and long to longitude
  prisma/migrations/20230817025129_init/migration.sql
  prisma/schema.prisma
  src/handlers/lib.ts
  src/handlers/suggestions.ts
  src/seed/lib.ts
Due: none

documentation updates
  README.md
Due: prettier --write

doc updates, added more tests and added instructions to manually enable an extension in PostgreSQL
  README.md
  docker-compose.yaml
  docker/init-extension.sql
  package-lock.json
  prisma/migrations/20230817185612_init/migration.sql
  test/suggestions.test.ts
Due: prettier --write
