Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: adding joi to suggestion endpoint
  package-lock.json
  package.json
  src/routes/suggestion-routes.ts
  src/schemas/suggestion-schema.ts
Due: none

feat: unit tests for es client
  src/clients/__tests__/elasticsearch-client.test..ts
Due: none

fix: filename typo & tmp ignoring tests
  .eslintignore
  src/clients/__tests__/elasticsearch-client.test.ts
Due: none

chore: unit tests for suggestion-service
  src/services/__tests__/suggestion-service.test.ts
Due: none

SY - Coding Challenge
  .gitignore
  .nvmrc
  app.js
  package.json
  suggestions/README.md
  suggestions/config.json
  suggestions/getSuggestions.js
  suggestions/score-imports.js
  suggestions/scores/distance.js
  suggestions/scores/exact-match.js
  suggestions/scores/near-match.js
  suggestions/scores/popularity.js
  suggestions/scores/state.js
  suggestions/write-to-cache.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

chore: unit tests for suggestion-controller
  src/controllers/__tests__/suggestion-controller.test.ts
Due: none

chore: eslint update
  .eslintrc.json
Due: none

refactor: changing response format
  src/controllers/suggestion-controller.ts
  src/services/suggestion-service.ts
Due: none

chore: update unit tests after changing response format
  src/controllers/__tests__/suggestion-controller.test.ts
  src/services/__tests__/suggestion-service.test.ts
Due: none

fix: typo
  .eslintignore
Due: none

refactor: supporting es cloud (resuming challenge)
  .env
  scripts/seed-cities.ts
  src/clients/elasticsearch-client.ts
Due: none

fix: attempt to fix Heroku's port issue
  .env
  src/index.ts
Due: none

chore: unit tests for suggestion schema
  src/schemas/__tests__/suggestion-schema.test.ts
Due: none

feat: adding redis
  package-lock.json
  package.json
  src/clients/redis-client.ts
Due: none

feat: adding cache middleware to suggestion
  src/controllers/suggestion-controller.ts
  src/middlewares/suggestion-middleware.ts
  src/routes/suggestion-routes.ts
Due: none

fix: clearing some leftovers
  src/clients/redis-client.ts
Due: none

fix: minor ops
  src/index.ts
Due: none

fix: async reject handler
  src/middlewares/async-handler-middleware.ts
  src/routes/suggestion-routes.ts
Due: none

feat: adding redis to docker compose
  docker-compose.yml
Due: none

chore: unit tests for caching on controller
  src/controllers/__tests__/suggestion-controller.test.ts
Due: none

chore: unit tests for suggestion middleware
  src/middlewares/__tests__/suggestion-middleware.test.ts
Due: none

fix: forgot to reset mocks
  src/controllers/__tests__/suggestion-controller.test.ts
Due: none

chore: types types
  src/middlewares/suggestion-middleware.ts
  src/services/suggestion-service.ts
Due: none

docs: readme update
  README.md
Due: prettier --write

TUs OK
  README.md
  app.js
  package.json
  src/city.services.js
  src/score.js
  src/suggestions.js
  src/utils.js
  test/city.services.test.js
  test/score.test.js
  test/suggestions.js
  test/suggestions.test.js
  test/utils.test.js
Due: eslint --cache --fix, prettier --write

Update to deploy on Heroku - Test1
  app.js
Due: eslint --cache --fix, prettier --write

Update node version
  app.js
  package.json
Due: eslint --cache --fix, prettier --write

Adding default input
  app.js
Due: eslint --cache --fix, prettier --write

Still trying to make it work on heroku
  app.js
Due: eslint --cache --fix, prettier --write

Handle no q param
  app.js
Due: eslint --cache --fix, prettier --write

Trying wothout Host.
  app.js
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

fix: updated url as per req
  README.md
  src/controllers/suggestion-controller.ts
  src/index.ts
  src/routes/suggestion-routes.ts
Due: prettier --write

chore: unit test update after url change
  src/controllers/__tests__/suggestion-controller.test.ts
Due: none

fix: updating schema for url changes
  src/schemas/__tests__/suggestion-schema.test.ts
  src/schemas/suggestion-schema.ts
Due: none

WIP
  .gitignore
  .nvmrc
  app.js
  jest.config.js
  nodemon.json
  package.json
  src/controller/city-controller.ts
  src/index.ts
  src/repository/city.ts
  src/routes.ts
  src/server.ts
  test/controller/city-controller.spec.ts
  test/suggestions.js
  test/suggestions.spec.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Add sorting by distance
  src/controller/city-controller.ts
  src/index.ts
  src/routes.ts
Due: none

Add source link
  src/controller/city-controller.ts
Due: none

:tada: Initial commit
  .env
  README.md
  app.js
  docker-compose.yml
  nodemon.json
  ormconfig.js
  package.json
  resources/data/README.md
  resources/data/cities_canada-usa.tsv
  resources/flyway/V1__initialVersion.sql
  resources/sql/cities-geo.sql
  resources/sql/cities-name.sql
  src/app.module.ts
  src/main.ts
  src/suggestion/controller/suggestion.controller.ts
  src/suggestion/dto/city.dto.ts
  src/suggestion/dto/suggestion.dto.ts
  src/suggestion/dto/suggestions.dto.ts
  src/suggestion/entity/city.entity.ts
  src/suggestion/model/city.model.ts
  src/suggestion/service/suggestion.service.ts
  src/suggestion/suggestion.module.ts
  test/suggestions.js
  tsconfig-paths-bootstrap.js
  tsconfig.build.json
  tsconfig.json
  tsconfig.spec.json
  tslint.json
Due: eslint --cache --fix, prettier --write

Add naming concatentation to distinguish ambiguity between similar name
  package.json
  src/controller/city-controller.ts
  src/repository/city.ts
  src/routes.ts
  test/controller/city-controller.spec.ts
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
