Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Remove unnecessary libs
  package.json
Due: none

Add rate limiter
  package.json
  src/server.ts
Due: none

✨ Redis implementation + Health check + clean up
  README.md
  docker-compose.yml
  package.json
  resources/sql/cities-geo.sql
  resources/sql/cities-name.sql
  src/app.module.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/health/health.service.ts
  src/suggestion/controller/suggestion.controller.ts
  src/suggestion/dto/suggestions.dto.ts
  src/suggestion/service/suggestion.service.ts
  src/suggestion/suggestion.module.ts
Due: prettier --write

Clean a bit
  src/routes.ts
  test/suggestions.spec.ts
Due: none

fix: Change engines nodes
  package.json
Due: none

fix: Add ts-node as dependencies for Heroku
  package.json
Due: none

fix: Add typescript as dependencies for Heroku
  package.json
Due: none

fix: linting
  package.json
Due: none

fix: Add procfile for Heroku
  Procfile
  package.json
  src/index.ts
Due: none

chore: Remove unnecessary code
  src/server.ts
Due: none

fix: transpile to JS
  Procfile
  package.json
  tsconfig.json
Due: none

doc: Add heroku link
  README.md
Due: prettier --write

✨ Adding validators, fix cities-geo.sql request and clean up dependencies
  .gitignore
  .nvmrc
  README.md
  app.js
  data/README.md
  data/cities_canada-usa.tsv
  package.json
  resources/sql/cities-geo.sql
  src/suggestion/controller/suggestion.controller.ts
  src/suggestion/entity/city.query.ts
  src/suggestion/model/city.model.ts
  src/suggestion/service/suggestion.service.ts
  src/suggestion/validator/LatitudeValidator.ts
  src/suggestion/validator/LongitudeValidator.ts
  tsconfig.spec.json
Due: eslint --cache --fix, prettier --write

Add documentation
  src/server.ts
Due: none

🎨 Improve structure and add a dockerfile
  .prettierrc
  Dockerfile
  docker-compose.yml
  package.json
  resources/sql/cities-geo.sql
  src/app.module.ts
  src/city/city.dto.ts
  src/city/city.entity.ts
  src/city/city.module.ts
  src/city/city.service.ts
  src/suggestion/controller/suggestion.controller.ts
  src/suggestion/entity/suggestion.query.ts
  src/suggestion/service/suggestion.service.ts
  src/suggestion/suggestion.module.ts
  tslint.json
Due: none

⚡️ Index added to DB, fix the geo script score, cleanup general code
  docker-compose.yml
  package.json
  resources/flyway/V2__addIndexName.sql
  resources/sql/cities-geo.sql
  resources/sql/cities-name.sql
  src/app.module.ts
  src/city/city.service.ts
  src/suggestion/controller/suggestion.controller.ts
  src/suggestion/dto/suggestions.dto.ts
  src/suggestion/service/suggestion.service.ts
  tslint.json
Due: none

🚀 Deploy on Heroku
  .gitignore
  Procfile
  package.json
  src/main.ts
  src/suggestion/controller/suggestions.controller.spec.ts
  src/suggestion/service/suggestion.service.ts
Due: none

🚀 Deploy on Heroku
  .gitignore
  package.json
Due: none

🚀 Deploy on Heroku
  .env.example
  README.md
  package.json
  src/app.module.ts
  src/city/city.module.ts
  src/city/city.service.ts
  src/health/health.module.ts
  src/main.ts
  src/suggestion/controller/suggestion.controller.ts
  src/suggestion/controller/suggestions.controller.spec.ts
  src/suggestion/dto/city.dto.ts
  src/suggestion/dto/suggestion.dto.ts
  src/suggestion/dto/suggestions.dto.ts
  src/suggestion/entity/suggestion.query.ts
  src/suggestion/service/suggestion.service.ts
  src/suggestion/suggestion.module.ts
  src/suggestion/validator/LatitudeValidator.ts
  src/suggestion/validator/LongitudeValidator.ts
  test/suggestions.controller.js
Due: eslint --cache --fix, prettier --write

🚀 Deploy on Heroku
  package.json
Due: none

🚀 Deploy on Heroku
  .env
  .env.example
Due: none

🚀 Deploy on Heroku
  .env.example
  .gitignore
Due: none

🚀 Deploy on Heroku
  .gitignore
Due: none

🚀 Deploy on Heroku
  src/suggestion/suggestion.module.ts
Due: none

🚀 Deploy on Heroku
  .env.example
Due: none

🚀 Deploy on Heroku
  src/city/city.module.ts
Due: none

🚀 Deploy on Heroku
  ormconfig.js
Due: eslint --cache --fix, prettier --write

🚀 Deploy on Heroku
  .env.example
  README.md
Due: prettier --write

⚡️ improve performance, readme, clean up code and adding lint
  README.md
  package.json
  src/app.module.ts
  src/city/city.dto.ts
  src/city/city.entity.ts
  src/city/city.module.ts
  src/city/city.service.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/main.ts
  src/suggestion/controller/suggestion.controller.ts
  src/suggestion/controller/suggestions.controller.spec.ts
  src/suggestion/dto/city.dto.ts
  src/suggestion/dto/suggestion.dto.ts
  src/suggestion/dto/suggestions.dto.ts
  src/suggestion/entity/suggestion.query.ts
  src/suggestion/service/suggestion.service.ts
  src/suggestion/suggestion.module.ts
  src/suggestion/validator/LatitudeValidator.ts
  src/suggestion/validator/LongitudeValidator.ts
  test/suggestions.controller.js
  tsconfig-paths-bootstrap.js
  tslint.json
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
