Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Handle missing query string as a bad request
  test/System/suggestions.js
Due: eslint --cache --fix, prettier --write

Attempt at moving the pain of fetching the cities out of startup
  app.js
Due: eslint --cache --fix, prettier --write

Remove the localhost specification
  app.js
Due: eslint --cache --fix, prettier --write

Move back the cities reading to app start
  app.js
Due: eslint --cache --fix, prettier --write

Add an indicator of the amount of loaded cities
  app.js
Due: eslint --cache --fix, prettier --write

Display heroku failures in the readme
  README.md
Due: prettier --write

typescript install
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .nvmrc
  app.js
  package-lock.json
  package.json
  src/app.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

fix eslint config
  .env
  .env.test
  .eslintrc.json
  package-lock.json
  package.json
  src/app/config/index.ts
  src/app/http/http-server.ts
  src/domain/scorer/name-scorer.ts
  src/domain/scorer/position-and-name-scorer.ts
  src/domain/scorer/position-scorer.ts
  src/index.ts
  src/infra/tsv/reader.ts
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

move http server into infra directory
  .gitignore
  package-lock.json
  package.json
  src/app/app.ts
  src/index.ts
  src/infra/http/http-server.ts
Due: none

suggestion route and tsv reader creation
  data/cities_canada-usa.tsv
  package-lock.json
  package.json
  src/app/app.ts
  src/app/routes/city/suggestions.ts
  src/app/routes/index.ts
  src/infra/http/http-server.ts
  src/infra/tsv/reader.ts
Due: none

suggestion route and tsv reader creation
  src/app/routes/city/suggestions.ts
  src/infra/tsv/reader.ts
Due: none

dockerizing project
  .env
  Makefile
  docker-compose.yml
  docker/web/Dockerfile
Due: none

orm and migration management
  .env
  .env.test
  .sequelizerc
  Makefile
  database/config/config.js
  database/migrations/20220416231544-creating-city-model.js
  docker-compose.yml
  package-lock.json
  package.json
  src/app/config/index.ts
  src/app/routes/city/suggestions.ts
  src/domain/model/entity/city.ts
  src/domain/model/value-object/city-dto.ts
  src/infra/tsv/reader.ts
Due: eslint --cache --fix, prettier --write

add single quote rule
  .eslintrc.json
Due: none

remove last line from data file
  data/cities_canada-usa.tsv
Due: none

complete City model
  database/migrations/20220416231544-creating-city-model.js
  src/domain/model/entity/city.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

create database connection service
  package-lock.json
  package.json
  src/infra/orm/orm-client-interface.ts
  src/infra/orm/sequelize-client.ts
Due: none

create data loader
  src/app/dev/data-loader.ts
Due: none

add suggestions route logic with scorer strategy
  src/app/app.ts
  src/app/routes/city/suggestions.ts
  src/domain/model/value-object/city-presenter.ts
  src/domain/model/value-object/suggestion-search-criteria.ts
  src/domain/scorer/name-and-position-scorer-strategy.ts
  src/domain/scorer/name-scorer-strategy.ts
  src/domain/scorer/name-scorer.ts
  src/domain/scorer/position-and-name-scorer.ts
  src/domain/scorer/position-scorer-strategy.ts
  src/domain/scorer/position-scorer.ts
  src/domain/scorer/scorer-strategy-interface.ts
  src/index.ts
  src/infra/tsv/reader.ts
Due: none

refactor tests and add pre-commit tests validation
  .husky/pre-commit
  Makefile
  database/migrations/20220415231544-creating-unaccent-extension.js
  docker-compose.yml
  package-lock.json
  package.json
  src/app/app.ts
  src/app/routes/city/suggestions.ts
  src/infra/http/http-server.ts
  src/test/suggestions.ts
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

add country code in response
  src/domain/model/entity/city.ts
  src/domain/scorer/name-and-position-scorer-strategy.ts
  src/domain/scorer/name-scorer-strategy.ts
  src/domain/scorer/position-scorer-strategy.ts
Due: none

write documentation
  README.md
Due: prettier --write

fix eof
  .env
  .env.test
  .gitignore
  .nvmrc
  .sequelizerc
  Makefile
  README.md
  database/config/config.js
  src/app/dev/data-loader.ts
  src/domain/model/entity/city.ts
  src/domain/model/value-object/city-dto.ts
  src/domain/model/value-object/city-presenter.ts
  src/domain/model/value-object/suggestion-search-criteria.ts
  src/domain/scorer/name-and-position-scorer-strategy.ts
  src/domain/scorer/name-scorer-strategy.ts
  src/domain/scorer/position-scorer-strategy.ts
  src/domain/scorer/scorer-strategy-interface.ts
  src/index.ts
  src/infra/orm/orm-client-interface.ts
  src/infra/orm/sequelize-client.ts
Due: eslint --cache --fix, prettier --write

Fix typo in SOLUTION.md
  SOLUTION.md
Due: prettier --write

Increase coverage
  SOLUTION.md
  jest.config.json
  package.json
  src/config/cache.ts
  src/config/suggestion.ts
  src/service/cache/bypass.ts
  src/service/cache/index.ts
  src/service/cache/redis.ts
  src/service/suggestion.ts
  src/service/suggestion/cache.ts
  src/service/suggestion/index.ts
  src/test/app/base.test.ts
  src/test/app/doc.test.ts
  src/test/app/suggestion.test.ts
  src/test/service/cache/bypass.test.ts
  src/test/service/cache/redis.test.ts
Due: prettier --write

remove useless test
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

initial tree indexing, and search logic
  .DS_Store
  .gitignore
  app.js
  data/datasource.js
  data/file-datasource.js
  data/memory-datasource.js
  package-lock.json
  package.json
  services/indexing-service.js
  services/suggestions.js
  services/trie/node.js
  services/trie/trie.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

improving scoring
  services/constants.js
  services/helpers.js
  services/trie/node.js
  services/trie/trie.js
Due: eslint --cache --fix, prettier --write

implement latitude and longitude validation
  app.js
  services/constants.js
  services/helpers.js
  services/suggestions.js
  services/trie/trie.js
Due: eslint --cache --fix, prettier --write

Completed functionality
  .gitignore
  .nvmrc
  app.js
  package-lock.json
  package.json
  src/suggestions.js
  src/utils/dataParser.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Update port for heroku
  app.js
Due: eslint --cache --fix, prettier --write

Readme changes and small refactor
  README.md
  app.js
  src/suggestions.js
Due: eslint --cache --fix, prettier --write

Add base path message
  app.js
Due: eslint --cache --fix, prettier --write

Match node version
  package.json
Due: none

add alternate names to index, score service implementation
  app.js
  data/file-datasource.js
  services/constants.js
  services/helpers.js
  services/indexing-service.js
  services/scoring-service.js
  services/suggestions.js
  services/trie/node.js
  services/trie/trie.js
Due: eslint --cache --fix, prettier --write

caching response and LRU score
  app.js
  package.json
  services/constants.js
  services/lru-cache-service.js
  services/scoring-service.js
  services/suggestions.js
  services/trie/trie.js
  utils/constants.js
  utils/helpers.js
Due: eslint --cache --fix, prettier --write

first version
  .gitignore
  .nvmrc
  app.js
  config/db.js
  data/cities_canada-usa.tsv
  package-lock.json
  package.json
  routes/suggestion-routes.js
  scripts/process_data.js
  services/suggestion-services.js
  test/suggestions.js
  validators/inuput-validator.js
Due: eslint --cache --fix, prettier --write

fix database init script
  app.js
  routes/suggestion-routes.js
  scripts/process_data.js
  test/suggestions.js
  validators/inuput-validator.js
Due: eslint --cache --fix, prettier --write

add a root endpoint
  app.js
  scripts/process_data.js
  services/suggestion-services.js
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
