Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: Add core libs and seed function
  lib/cache.js
  lib/trie.js
  scripts/seed.js
Due: eslint --cache --fix, prettier --write

feat: add location model
  models/Location.js
Due: eslint --cache --fix, prettier --write

feat: add core mvc flow
  controllers/location.controller.js
  routes/location.routes.js
  services/location.service.js
Due: eslint --cache --fix, prettier --write

feat: add libs and utils
  lib/swagger.js
  utils/location.utils.js
Due: eslint --cache --fix, prettier --write

feat: create init
  app.js
  server.js
Due: eslint --cache --fix, prettier --write

feat: add swagger autogen
  scripts/swagger-autogen.js
Due: eslint --cache --fix, prettier --write

feat: move model code out of seed
  scripts/seed.js
Due: eslint --cache --fix, prettier --write

feat: add package json
  package-lock.json
  package.json
Due: none

chore: update nvmrc
  .nvmrc
Due: none

chore: add tests
  test/suggestions.js
  test/suggestions.spec.js
Due: eslint --cache --fix, prettier --write

chore: update swagger file location
  scripts/swagger-autogen.js
Due: eslint --cache --fix, prettier --write

chore: add .gitignore
  .gitignore
Due: none

chore: remove lock file for heroku
  package-lock.json
Due: none

update package.json
  package.json
Due: none

chore: add lock
  package-lock.json
Due: none

chore: add swagger
  .gitignore
  swagger.json
Due: none

chore: add README
  README.md
  SuggestedInfra.png
  package-lock.json
  package.json
Due: prettier --write

chore: add load tests
  test/suggestions.load.test.js
Due: eslint --cache --fix, prettier --write

chore: update readme
  README.md
Due: prettier --write

feat: Add basic structure of app with controller, service, logger, dbrepository
  .eslintrc.json
  .prettierrc
  app/App.ts
  app/Kernel.ts
  app/controllers/SuggestionsController.ts
  app/entities/SuggestionsRequestSchema.ts
  app/entities/SuggestionsResponseSchema.ts
  app/index.ts
  app/repositories/FirebaseRepository.ts
  app/repositories/IDatabaseRepository.ts
  app/services/SuggestionsService.ts
  app/utils/Request.ts
  app/utils/Types.ts
  package.json
  tsconfig.json
Due: none

feat: Added script to update data in GC firestore
  app/Kernel.ts
  app/entities/City.ts
  app/entities/DataHeadersTsv.ts
  app/repositories/FirestoreRepository.ts
  app/repositories/IDatabaseRepository.ts
  app/services/SuggestionsService.ts
  app/updateFirestoreFromTsv.ts
  app/utils/Types.ts
  googleApplicationCred.json
  package.json
Due: none

feat: Added scoring for suggestions and response
  app/controllers/SuggestionsController.ts
  app/entities/SuggestionsResponseSchema.ts
  app/repositories/FirestoreRepository.ts
  app/repositories/IDatabaseRepository.ts
  app/services/SuggestionsService.ts
  package.json
Due: none

Add Redis Caching
  app/Kernel.ts
  app/services/SuggestionsService.ts
  app/utils/Types.ts
  package.json
Due: none

add nodemon
  package.json
Due: none

Add Dockerfile and docker-compose
  Dockerfile
  docker-compose.yml
Due: none

Added unit tests for controller, service and repository
  app/index.ts
  app/repositories/FirestoreRepository.ts
  docker-compose.yml
  docs/swagger/swagger.yaml
  package.json
  test/suggestions.js
  tests/fixtures/FirestoreFetchCitiesReturns.ts
  tests/fixtures/SuggestionsServiceReturns.ts
  tests/unit/controllers/SuggestionsController.ts
  tests/unit/repositories/FirestoreRepository.test.ts
  tests/unit/services/SuggestionsService.test.ts
Due: eslint --cache --fix, prettier --write

Add functional tests
  package.json
  tests/fixtures/FirestoreFetchCitiesReturns.ts
  tests/fixtures/SuggestionsServiceReturns.ts
  tests/functional/SuggestionsEndpoint.test.ts
  tests/unit/controllers/SuggestionsController.test.ts
Due: none

update docker-compose
  docker-compose.yml
Due: none

Add multiple Readme files
  README.md
  app/entities/SuggestionsResponseSchema.ts
  app/index.ts
  app/services/SuggestionsService.ts
  docker-compose.yml
  docs/BusBud_Coding_Challenge_API.svg
  docs/architecture.md
  docs/process_flow_suggestions.png
  docs/refreshFirestoreDatabase.md
  docs/runbook.md
  docs/swagger/swagger.yaml
  tests/fixtures/SuggestionsServiceReturns.ts
  tests/functional/SuggestionsEndpoint.test.ts
  tests/unit/services/SuggestionsService.test.ts
Due: prettier --write

fix: empty q validation
  app/entities/SuggestionsRequestSchema.ts
  app/utils/Request.ts
  package.json
  tests/functional/SuggestionsEndpoint.test.ts
  tests/unit/controllers/SuggestionsController.test.ts
Due: none

Add more readmes
  README.md
  app/services/SuggestionsService.ts
  docs/scoringAlgorithm.md
  package.json
Due: prettier --write

clean up
  Dockerfile
  app.js
  app/controllers/SuggestionsController.ts
  package.json
  tests/fixtures/SuggestionsServiceReturns.ts
  tests/unit/controllers/SuggestionsController.test.ts
Due: eslint --cache --fix, prettier --write

Add coverage scripts
  package.json
Due: none

update coverage
  package.json
Due: none

update coverage check
  package.json
Due: none

Add installation step in runbook
  docs/runbook.md
Due: prettier --write

Add dotenv and update runbook
  .env
  app/Kernel.ts
  docker-compose.yml
  docs/runbook.md
  package.json
Due: prettier --write

feat(api): add OpenAPI Spec, fastify
  .gitignore
  app.js
  package-lock.json
  package.json
  service.js
  spec/cities.yaml
Due: eslint --cache --fix, prettier --write

feat(cities): parse and return cities data
  cities.js
  package-lock.json
  package.json
  service.js
Due: eslint --cache --fix, prettier --write

feat(serverless): setup Vercel
  api/serverless.js
  cities.js
  public/cities_canada-usa.tsv
  service.js
  tsv2json.js
  vercel.json
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
