Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

Heroku
  package.json
Due: none

Heroku
  node_modules/.package-lock.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

Heroku
  node_modules/.package-lock.json
  node_modules/@types/node/README.md
  node_modules/@types/node/buffer.d.ts
  node_modules/@types/node/index.d.ts
  node_modules/@types/node/package.json
  node_modules/@types/node/ts4.8/buffer.d.ts
  package-lock.json
  package.json
Due: prettier --write

Heroku
  package-lock.json
Due: none

Heroku
  tsconfig.json
Due: none

Heroku
  .gitignore
Due: none

Heroku
  package.json
  tsconfig.json
Due: none

Heroku
  node_modules/.package-lock.json
  package-lock.json
  package.json
Due: none

Heroku
  Procfile
  package.json
  tsconfig.json
Due: none

Heroku
  app.ts
Due: none

Heroku
  app.ts
  package.json
  routes/api.ts
Due: none

Heroku
  .env
  .gitignore
  build/app.js
  build/app.js.map
  build/code.js
  build/code.js.map
  build/controllers/suggestion.js
  build/controllers/suggestion.js.map
  build/data/FIPSCodesCanada.js
  build/data/FIPSCodesCanada.js.map
  build/lib/cityScoreCalc.js
  build/lib/cityScoreCalc.js.map
  build/lib/distanceCalculator.js
  build/lib/distanceCalculator.js.map
  build/lib/tsvConverter.js
  build/lib/tsvConverter.js.map
  build/routes/api.js
  build/routes/api.js.map
  build/routes/xmain.js
  build/routes/xmain.js.map
  build/services/redisClient.js
  build/services/redisClient.js.map
  build/test/suggestions.js
  build/test/suggestions.js.map
  build/utils/interfaces.js
  build/utils/interfaces.js.map
  node_modules/.package-lock.json
  node_modules/@types/redis/LICENSE
  node_modules/@types/redis/README.md
  node_modules/@types/redis/package.json
  package-lock.json
  package.json
  services/redisClient.ts
Due: eslint --cache --fix, prettier --write

Heroku
  .env
  build/services/redisClient.js
  build/services/redisClient.js.map
  node_modules/.package-lock.json
  package-lock.json
  package.json
  services/redisClient.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Heroku
  services/redisClient.ts
Due: none

Heroku
  services/redisClient.ts
  tsconfig.json
Due: none

Heroku
  controllers/suggestion.ts
Due: none

Heroku
  build/controllers/suggestion.js
  build/controllers/suggestion.js.map
  build/services/redisClient.js
  build/services/redisClient.js.map
  controllers/suggestion.ts
Due: eslint --cache --fix, prettier --write
