Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Adding unit testing for the suggestions controller.
  test/unit/controllers/suggestions.controller.test.js
Due: eslint --cache --fix, prettier --write

Updating script name to a more descriptive one.
  .huskyrc
  .travis.yml
  Dockerfile
  README.md
  package.json
Due: prettier --write

increase score precision
  services/services.js
Due: eslint --cache --fix, prettier --write

Clean data for postgres
  data/cities_canada-usa.tsv
Due: none

Setup base application for local development using docker and postgres
  Dockerfile
  app.js
  db/1-init.sql
  db/2-copy.sql
  db/Dockerfile
  docker-compose.yaml
  package.json
Due: eslint --cache --fix, prettier --write

Add db script to translate province codes
  db/3-translate-provinces.sql
Due: none

Add db script to create and index materialized view
  db/4-materialized-view.sql
Due: none

Accept PHP as challenge language
  README.md
Due: prettier --write

Add db query wrapper and connect to DB
  package.json
  src/db.js
Due: eslint --cache --fix, prettier --write

Convert app to express, add base api response without score
  .gitignore
  Dockerfile
  app.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Remove accents on search query, index search on ascii column
  app.js
  db/4-materialized-view.sql
  package.json
Due: eslint --cache --fix, prettier --write

Add basic scoring function
  app.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Fix compose volumes for old Dockerfile change
  docker-compose.yaml
Due: none

Normalize results and sort
  app.js
Due: eslint --cache --fix, prettier --write

Add comments, clean up rogue console logs, add postman collection
  app.js
  docs/Busbud.postman_collection.json
  src/db.js
Due: eslint --cache --fix, prettier --write

Add README
  README.md
Due: prettier --write

readme
  README.md
  app.js
Due: eslint --cache --fix, prettier --write

close app after
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

# This is a combination of 15 commits. # This is the 1st commit message: Initial commit
  .eslintignore
  .gitignore
  README.md
  app.js
  atali
  package-lock.json
  package.json
  src/dao/CityDao.ts
  src/models/CityData.ts
  src/models/Score.ts
  src/service/CityService.ts
  src/tsconfig.json
  src/utils/compute-score.ts
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Added service logic to find the proper suggestion
  .eslintrc.yml
  .gitignore
  app.js
  client/geoNamesClient.js
  middleware/index.js
  package-lock.json
  package.json
  routes/index.js
  service/citySuggestion.js
  service/distanceCalculator.js
  service/songScore.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Add heroku.yml
  Dockerfile
  heroku.yml
Due: none

Update node version
  package.json
Due: none

Updated heroku host
  app.js
  client/geoNamesClient.js
Due: eslint --cache --fix, prettier --write

Updated Readme.md
  README.md
Due: prettier --write

Fixed the routes and test
  Dockerfile
  routes/index.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Fixed typos
  README.md
Due: prettier --write

Removed version from routes
  README.md
  routes/index.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

first commit
  .gitignore
  .vscode/launch.json
  app.js
  domain/error/error.js
  domain/suggestion-model.js
  domain/suggestion-query-model.js
  domain/suggestion-service.js
  error-handling.js
  package.json
Due: eslint --cache --fix, prettier --write

filtering suggestions on repo
  app.js
  domain/suggestion-service.js
  repository/suggestion-repo.js
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
