Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

added testing server files.
  app.php
  app.sh
Due: none

added data initialization scripts.
  composer.json
  init/copydata.php
Due: none

added suggestions endpoint.
  app.php
  init/copydata.php
  lib/pgsql.php
  web/suggestions.php
Due: none

added automated tests using kahlan.
  composer.json
  composer.lock
  test/suggestions.spec.php
Due: none

fix for end point routing.
  web/.htaccess
Due: none

added readme file.
  init/README.md
Due: prettier --write

First working version
  .eslintrc.js
  .gitignore
  .nvmrc
  Procfile
  README.md
  app.js
  bin/www
  data/cities_canada-usa.json
  package-lock.json
  package.json
  request.http
  src/controller/actuatorController.js
  src/controller/suggestionController.js
  src/logger.js
  src/metrics/requestMetrics.js
  src/repository/locationRepository.js
  src/router/actuatorRouter.js
  src/router/suggestionRouter.js
  src/service/suggestionService.js
  test/suggestions.js
  test/suggestions.test.js
Due: eslint --cache --fix, prettier --write

Small improvements
  README.md
  package-lock.json
  package.json
  src/logger.js
  src/repository/locationRepository.js
Due: eslint --cache --fix, prettier --write

Adding a simple in memory cache
  src/repository/cachedLocationRepository.js
  src/repository/locationRepository.js
  src/service/suggestionService.js
Due: eslint --cache --fix, prettier --write

Reducing debug logs in remote environment
  Procfile
Due: none

Improving TODOs
  src/controller/suggestionController.js
  src/repository/cachedLocationRepository.js
Due: eslint --cache --fix, prettier --write

Improving readme
  README.md
Due: prettier --write

Fixing comment
  src/router/suggestionRouter.js
Due: eslint --cache --fix, prettier --write

INITIAL structure
  .gitignore
  Dockerfile
  LICENSE
  README.md
  app.js
  docker-compose.yaml
  package.json
  src/controllers/healthCheckController.js
  src/index.js
  src/routes/healthCheckRoutes.js
  src/routes/index.js
  src/utils/constants.js
  src/utils/poolConnection.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

ADD migration for table
  migrations/1612651957478_CREATE-TABLE-GEONAMES.js
Due: eslint --cache --fix, prettier --write

MIGRATION FOR unaccent extension
  migrations/1612651957488_CREATE-EXTENSION-UNNACENT.js
Due: eslint --cache --fix, prettier --write

MIGRATION FOR import data set
  migrations/1612651957498_IMPORT-DATA-SET.js
Due: eslint --cache --fix, prettier --write

ADD model for geoName table
  src/models/GeoName.js
Due: eslint --cache --fix, prettier --write

UPDATE readme
  README.md
Due: prettier --write

Adding documentation and improving tests
  README.md
  app.js
  bin/www
  package-lock.json
  package.json
  src/constants/cache.js
  src/controller/suggestionController.js
  src/repository/cachedLocationRepository.js
  src/repository/locationRepository.js
  src/router/suggestionRouter.js
  src/swagger/index.js
  test/IT/__snapshots__/health.spec.js.snap
  test/IT/__snapshots__/prometheus.spec.js.snap
  test/IT/health.spec.js
  test/IT/index.test.js
  test/IT/prometheus.spec.js
  test/repository/cachedLocationRepository.spec.js
  test/suggestions.test.js
Due: eslint --cache --fix, prettier --write

WIP
  package-lock.json
  src/controllers/searchController.js
  src/routes/index.js
  src/routes/searchRoutes.js
  src/services/GeoNameService.js
  src/services/index.js
  test/controllers/healthCheckTest.js
Due: eslint --cache --fix, prettier --write

Update readme.md
  readme.md
Due: prettier --write

UPDATE readme
  README.md
  src/controllers/searchController.js
Due: eslint --cache --fix, prettier --write

Initial Commit
  app.js
  helpers.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Added Express as a Server
  .gitignore
  Services/Suggestions/Suggestions.js
  Services/Suggestions/router.js
  app.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Added Brute Force
  Services/Suggestions/Suggestions.js
  app.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Added Test & Readme
  README.md
  Services/Suggestions/Suggestions.js
  app.js
  package-lock.json
  package.json
  test/suggestions.js
  test/suggestions.test.js
Due: eslint --cache --fix, prettier --write

Fixed Node-V & Port
  app.js
  package.json
Due: eslint --cache --fix, prettier --write

fist commit
  .gitignore
  .htaccess
  Dockerfile
  README.md
  bootstrap.php
  composer.json
  composer.lock
  data/admin1Codes.txt
  data/script.sql
  docker-compose.yml
  index.php
  src/Business/SuggestionManager.php
  src/Controller/SuggestionController.php
  src/DTO/HttpResponse.php
  src/Library/Utilities.php
  src/Model/City.php
  src/System/DatabaseConnector.php
  test/SuggestionTestCases.php
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

refactor: delete old files
  README.md
  app.js
  data/README.md
  data/cities_canada-usa.tsv
  package.json
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

build: add all dependencies
  package-lock.json
  package.json
Due: none

build: add different configuration files (eslint, nyc, mocha, etc.)
  .dockerignore
  .editorconfig
  .eslintrc.js
  .gitattributes
  .gitignore
  .lintstagedrc
  .mocharc.js
  .nvmrc
  .nyrc
  commitlint.config.js
Due: eslint --cache --fix, prettier --write

feat: add logger service
  src/services/logger/index.js
  src/services/logger/transports/index.js
  src/services/logger/transports/rotatingFile.js
Due: eslint --cache --fix, prettier --write

feat: add search engine service
  src/services/searchEngine/SearchEngineClient.js
  src/services/searchEngine/index.js
Due: eslint --cache --fix, prettier --write

feat: add cache service
  src/services/cache/index.js
Due: eslint --cache --fix, prettier --write
