Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

test
  src/services/suggestions.queries.js
Due: eslint --cache --fix, prettier --write

Bug fix
  src/services/suggestions.queries.js
Due: eslint --cache --fix, prettier --write

Updated TODO
  TODO.txt
Due: none

Initializing environment: adding .gitignore based on https://github.com/github/gitignore/blob/master/Node.gitignore template for node.js applications
  .gitignore
Due: none

Environment setup: added initial configuration files
  .nvmrc
  Procfile
  package.json
  tsconfig.json
Due: none

Updating package.json file to not remove data files from sources folder after Heroku deployment
  package.json
Due: none

Adding src folder with the source files
  app.js
  app.ts
  src/controllers/SuggestionsController.spec.ts
  src/controllers/SuggestionsController.ts
  src/data/cities_canada-usa.tsv
  src/data/country_iso_names.tsv
  src/data/provinces_admin1_codes.tsv
  src/dataInitialize.ts
  src/lib/calculateDistance.spec.ts
  src/lib/calculateDistance.ts
  src/lib/calculateScore.spec.ts
  src/lib/calculateScore.ts
  src/lib/calculateWordScore.spec.ts
  src/lib/calculateWordScore.ts
  src/listenAPI.ts
  src/migrations/1634533732150-initialSetup.ts
  src/models/dtos/Suggestion.ts
  src/models/dtos/Suggestions.ts
  src/models/entities/City.ts
  src/models/entities/Country.ts
  src/models/entities/Province.ts
  src/models/interfaces/ICitiesDataFileRow.ts
  src/models/interfaces/ICountriesDataFileRow.ts
  src/models/interfaces/IProvincesDataFileRow.ts
  src/models/interfaces/ISuggestion.ts
  src/models/interfaces/ISuggestionParams.ts
  src/models/interfaces/ISuggestions.ts
  src/repositories/CityRepository.ts
  src/repositories/CountryRepository.ts
  src/repositories/ProvinceRepository.ts
  src/services/CacheServices.ts
  src/services/DatabaseServices.ts
  src/services/SuggestionsServices.ts
Due: eslint --cache --fix, prettier --write

Added ts-node as a production dependency and changed Heroku start script to launch ts-node instead of node
  Procfile
  package.json
Due: none

Adjusting package.json file to run ts-node on Heroku shard
  package.json
Due: none

Adding npm run typeorm:runmigration to the postinstall command run by Heroku on new build in order to automatically run database structure updates on new builds
  package.json
Due: none

Adjusting typeorm configuration to run migrations from console commands without depending on ormconfig.json file
  app.ts
  package.json
  src/config/getTypeormConfig.ts
  src/config/ormconfig.ts
  tsconfig.json
Due: none

Removing devDependencies prune call from deploy script
  package.json
Due: none

Fixing a bug when caching and recovering suggestions from cache
  src/dataInitialize.ts
  src/listenAPI.ts
  src/models/dtos/Suggestion.ts
  src/models/interfaces/ISuggestion.ts
  src/models/interfaces/ISuggestions.ts
  src/services/CacheServices.ts
  src/services/DatabaseServices.ts
  src/services/SuggestionsServices.ts
Due: none

Updating calculateScore function to never go lower than 0 and updating unit tests
  src/lib/calculateDistance.spec.ts
  src/lib/calculateScore.spec.ts
  src/lib/calculateScore.ts
  src/lib/calculateWordScore.spec.ts
Due: none

Adding comments and updating README.md file with all considerations
  README.md
  package-lock.json
  src/data/README.md
  src/lib/calculateDistance.ts
  src/lib/calculateScore.ts
  src/lib/calculateWordScore.ts
  src/listenAPI.ts
Due: prettier --write

Adding UI to the challenge
  package.json
  src/listenAPI.ts
  src/ui/SuggestionResult.tsx
  src/ui/busbudcodechallenge.tsx
  src/ui/resources/index.html
  src/ui/resources/scss/busbudcodechallenge.scss
  src/ui/searchCities.tsx
  src/ui/store/store.ts
  src/ui/types/ISuggestion.ts
  src/ui/types/ISuggestions.ts
  src/ui/types/Suggestions.ts
  tsconfig.json
  webpack.config.dev.js
  webpack.config.js
  webpack.config.prod.js
  webpack.paths.js
Due: eslint --cache --fix, prettier --write

Adjusts to deploy UI to production environment
  package.json
Due: none

Adding npm install comnmand to deploy script
  package-lock.json
  package.json
Due: none

Version bump
  package.json
Due: none

Updating deployment command removing npm install
  package.json
Due: none

Updaing webpack path
  webpack.config.js
Due: eslint --cache --fix, prettier --write

chore: add elasticsearch data folder to gitignore
  .gitignore
Due: none

feat: init express server
  app.js
  index.ts
Due: eslint --cache --fix, prettier --write

chore: added gitignore
  .gitignore
Due: none

chore: added elasticsearch data to gitignore
  .gitignore
Due: none

refactor: added searchtype
  src/services/SearchService.ts
Due: none

chore: removed old readme.md
  data/README.md
Due: prettier --write

feat: added seed script
  scripts/seed/es-seed.ts
Due: none

refactor: autocomplete controller
  src/controllers/AutocompleteController.ts
Due: none

chore: added docker compose to kibana and elasticsearch
  docker-compose.yml
Due: none

feat: added .env library
  .env.sample
  .gitignore
  index.ts
  package.json
  yarn.lock
Due: none

chore: create ES reindex script
  scripts/es-reindex.ts
Due: none

refactor: move esquery to another file
  scripts/es-reindex.ts
  scripts/seed/cluster-fields.ts
Due: none

chore: add env variable to .env.sample
  .env.sample
Due: none

chore: changed node min version
  .nvmrc
Due: none

feat: add README.md
  README.md
Due: prettier --write

chore: added typescript + express
  package.json
  tsconfig.json
  yarn.lock
Due: none

chore: added seed script to package.json
  package.json
Due: none

chore: created typescript typings
  src/types/RequestContract.ts
  src/types/index.d.ts
Due: none

feat: service implementation
  app.ts
  index.ts
  package.json
  src/controllers/AutocompleteController.ts
  src/routes/index.ts
  src/services/SearchService.ts
  src/types/RequestContract.ts
  yarn.lock
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
