Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Updated error message
  index.html
Due: none

Made scoring system more accurate
  package-lock.json
  package.json
  src/app.ts
Due: none

Changed location package
  src/app.ts
Due: none

Added 404 message to ui
  index.html
  src/app.ts
Due: none

feat: setting up repo with base server
  .gitignore
  package-lock.json
  package.json
  server/index.js
Due: eslint --cache --fix, prettier --write

feat: creating suggestions routes and dataParser class
  server/index.js
  server/routes.js
  utils/DataParser.js
Due: eslint --cache --fix, prettier --write

fix: restructuring app and calculating string comparison scores
  .gitignore
  .nvmrc
  app.js
  package-lock.json
  package.json
  routes.js
  server/index.js
  utils/DataParser.js
  utils/ScoreCalculator.js
  utils/StateCodes.js
Due: eslint --cache --fix, prettier --write

Adds gitignore
  .gitignore
Due: none

Adds framework to facilitate endpoint handling to server
  app.js
  app/startup/getDirectories.js
  app/startup/index.js
  cli/newEndpoint.js
  cli/newUnit.js
  controllers/search/suggesttions/config.json
  controllers/search/suggesttions/index.js
  controllers/search/suggesttions/units/index.js
  controllers/search/suggesttions/units/suggesttions.js
  package-lock.json
  package.json
  templates/endpoint/config.json
  templates/endpoint/index.js
  templates/endpoint/units/endpoint.js
  templates/endpoint/units/index.js
Due: eslint --cache --fix, prettier --write

fix: updating getScore function to include lat and long queries
  routes.js
  utils/ScoreCalculator.js
Due: eslint --cache --fix, prettier --write

chore: adding comments and cleaning up code
  app.js
  constants/index.js
  routes.js
  utils/DataParser.js
  utils/ScoreCalculator.js
  utils/StateCodes.js
Due: eslint --cache --fix, prettier --write

feat: adding a rate limiter
  app.js
  middlewares/RateLimiter.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

fix: updating test cases
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

feat: adding api.yaml file for better documentation
  api.yaml
Due: none

chore: updating README file
  README.md
Due: prettier --write

chore: commenting out challenge instructions to show the solution only
  README.md
Due: prettier --write

feat: adding comment in case readme is not read
  app.js
Due: eslint --cache --fix, prettier --write

Implement suggestions endpoint
  .gitignore
  app.js
  app/startup/index.js
  constants/countries.js
  constants/provinces.js
  controllers/search/suggestions/config.json
  controllers/search/suggestions/index.js
  controllers/search/suggestions/units/index.js
  controllers/search/suggestions/units/suggestions.js
  controllers/search/suggestions/units/validateRequest.js
  controllers/search/suggesttions/index.js
  controllers/search/suggesttions/units/index.js
  controllers/search/suggesttions/units/suggesttions.js
  data/provinces.tsv
  lib/error.js
  lib/getDistanceInKm.js
  lib/getDistanceScore.js
  lib/getNameScore.js
  lib/getScore.js
  lib/index.js
  lib/tsvToJson.js
  package-lock.json
  package.json
  test/suggestions.js
  test/suggestions.test.js
Due: eslint --cache --fix, prettier --write

Updates score storting
  README.md
  controllers/search/suggestions/units/suggestions.js
  lib/getScore.js
Due: eslint --cache --fix, prettier --write

Adds module alias
  README.md
  app/startup/index.js
  cli/newEndpoint.js
  cli/newUnit.js
  endpoints/search/suggestions/config.json
  endpoints/search/suggestions/index.js
  endpoints/search/suggestions/units/index.js
  endpoints/search/suggestions/units/suggestions.js
  endpoints/search/suggestions/units/validateRequest.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Adds caching
  .gitignore
  README.md
  app/cache/index.js
  app/startup/index.js
  endpoints/search/suggestions/units/validateRequest.js
  lib/getScore.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

First deployment
  Procfile
  package.json
Due: none

update procfile
  Procfile
Due: none

add module-alias to app first line
  app.js
Due: eslint --cache --fix, prettier --write

Adds pm2
  Procfile
  package.json
Due: none

Removes pm2
  Procfile
  package.json
Due: none

Adds deployed API
  README.md
Due: prettier --write

Fix readme typo
  README.md
Due: prettier --write

Busbud Coding Challenge by Maryam Babalola
  .eslintignore
  .eslintrc.js
  .gitignore
  .mocharc.json
  .prettierrc.js
  README.md
  app.js
  docs/architecture.png
  package-lock.json
  package.json
  src/app.ts
  src/config/env.ts
  src/config/index.ts
  src/config/middlewares/cacheMiddleware.ts
  src/config/middlewares/index.ts
  src/config/middlewares/middlewares.definition.ts
  src/controllers/__tests__/citiesController.spec.ts
  src/controllers/citiesController.definition.ts
  src/controllers/citiesController.ts
  src/controllers/index.ts
  src/helper/index.ts
  src/routes/index.ts
  src/routes/routes.definition.ts
  src/services/__tests__/citiesService.spec.ts
  src/services/cities.definition.ts
  src/services/citiesService.ts
  src/services/index.ts
  src/shared/apiService.ts
  test/suggestions.js
  test/suggestions.spec.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Add types to dev dependencies
  package.json
Due: none

update node and nvm versions
  package.json
Due: none

Add types to dependencies
  package-lock.json
  package.json
Due: none

Move packages into dependencies
  package-lock.json
  package.json
Due: none

add procfile
  Procfile
  package.json
Due: none

update commands
  package.json
Due: none

update procfile
  Procfile
  package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
