Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

add API documentation
  DOCUMENTATION.md
Due: prettier --write

add newlines at the end of files
  app.js
  config/db.js
  routes/suggestion-routes.js
  scripts/process_data.js
  services/suggestion-services.js
Due: eslint --cache --fix, prettier --write

update config
  .nvmrc
  Procfile
  config/db.js
  validators/inuput-validator.js
Due: eslint --cache --fix, prettier --write

update heroku config
  app.js
Due: eslint --cache --fix, prettier --write

update documentation
  .env-template
  DOCUMENTATION.md
Due: prettier --write

Update DOCUMENTATION.md
  DOCUMENTATION.md
Due: prettier --write

cleanup, alt names search support
  app.js
  package.json
  services/scoring-service.js
  services/suggestions.js
  services/trie/trie.js
  test/suggestions.js
  utils/constants.js
Due: eslint --cache --fix, prettier --write

documenting code
  .gitignore
  README.md
  app.js
  data/datasource.js
  data/file-datasource.js
  data/memory-datasource.js
  services/indexing-service.js
  services/lru-cache-service.js
  services/scoring-service.js
  services/suggestions-service.js
  services/suggestions.js
  services/trie/node.js
  services/trie/trie.js
  utils/helpers.js
Due: eslint --cache --fix, prettier --write

documenting code
  README.md
  services/scoring-service.js
  test/screenshots/alternate-name-search.png
  test/screenshots/most-searched-result-first.png
  test/screenshots/partial-search-location.png
  test/screenshots/partial-search.png
  test/screenshots/typo-search.png
  test/suggestions.js
  utils/constants.js
  utils/helpers.js
Due: eslint --cache --fix, prettier --write

heroku configuration
  Procfile
  app.js
Due: eslint --cache --fix, prettier --write

heroku configuration
  Procfile
  README.md
  app.js
  package.json
Due: eslint --cache --fix, prettier --write

final touches and clanup
  README.md
  app.js
  services/suggestions-service.js
  test/screenshots/trie-index.png
  utils/helpers.js
Due: eslint --cache --fix, prettier --write

Add typescript, Update project file structure, Define main application types, Replace http with express
  .gitignore
  app.js
  data/cities_canada-usa.tsv
  index.d.ts
  package-lock.json
  package.json
  src/index.ts
  src/test/suggestions.js
  src/utils/dataParser.ts
  src/utils/searchEngine.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Fix typescript compiler issues, Add dataParser helper to read cities_canada-usa.tsv file
  .nvmrc
  data/cities_canada-usa.tsv
  package-lock.json
  package.json
  src/global/types.ts
  src/helpers/dataParser.ts
  src/helpers/searchEngine.ts
  src/index.ts
  src/utils/dataParser.ts
  test/suggestions.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Add searchEngine
  package-lock.json
  package.json
  src/global/types.ts
  src/helpers/dataParser.ts
  src/helpers/searchEngine.ts
Due: none

Reorganize function order in files
  src/global/types.ts
  src/helpers/dataParser.ts
  src/helpers/searchEngine.ts
  src/index.ts
Due: none

Edit README to reflect current state of repo
  README.md
Due: prettier --write

Fix test
  README.md
  package-lock.json
  package.json
  src/global/types.ts
  src/index.ts
  test/app.spec.ts
  test/suggestions.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Fix path in start script
  package.json
Due: none

Add Procfile for Heroku deployment
  Procfile
Due: none

Remove dist form .gitignore for Heroku deployment
  .gitignore
  dist/src/global/types.js
  dist/src/helpers/dataParser.js
  dist/src/helpers/searchEngine.js
  dist/src/index.js
  dist/test/app.spec.js
  package.json
Due: eslint --cache --fix, prettier --write

Edit README.md to account for changes to script in package.json
  README.md
Due: prettier --write

Add link to deployed herokuapp
  README.md
Due: prettier --write

Clean .gitignore
  .gitignore
Due: none

Fix try to ignore dist while keeping heroku functional
  .gitignore
  Procfile
  dist/src/global/types.js
  dist/src/helpers/dataParser.js
  dist/src/helpers/searchEngine.js
  dist/src/index.js
  dist/test/app.spec.js
Due: eslint --cache --fix, prettier --write

Add postinstall tsc for Heroku
  Procfile
  package.json
Due: none

Move supertest to devDependencies
  package-lock.json
  package.json
Due: none

coding completed
  .gitignore
  app.js
  package-lock.json
  package.json
  test/suggestions.js
  utils/levenshteinDistance.js
  utils/provinceCodes.js
  utils/scores.js
Due: eslint --cache --fix, prettier --write

deleted package-lock.json
  package-lock.json
Due: none

added lock file again
  .nvmrc
  package-lock.json
  package.json
Due: none

added heroku link to readme file
  README.md
Due: prettier --write

Updated node version and packages, added Typescript
  .gitignore
  .nvmrc
  npm-debug.log
  package-lock.json
  package.json
  src/app.ts
  tsconfig.json
Due: none

Added data format script
  data/.~lock.cities_canada-usa.tsv#
  data/README.md
  data/cities_canada-usa.json
  data/clean_and_convert_json.js
  package.json
Due: eslint --cache --fix, prettier --write

Added basic api endpoint
  data/.~lock.cities_canada-usa.tsv#
  data/cities_canada-usa.json
  data/clean_and_convert_json.js
  package-lock.json
  package.json
  src/app.ts
  src/server.ts
  src/types.ts
  test/suggestions.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Fixed tests
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Added User Interface
  index.html
  src/server.ts
Due: none

Fixed request url
  index.html
Due: none

Fixed gitignore
  npm-debug.log
Due: none

Added info text
  index.html
Due: none

Added location permission error handling
  .gitignore
  index.html
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
