Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Parsed file content in order to create a valid suggestion
  src/app.js
  src/command/suggestions.command.js
  src/infrastructure/administrative.division.adapter.js
  src/infrastructure/country.adapter.js
  src/user/importer/geoname.importer.js
Due: eslint --cache --fix, prettier --write

fix bug on import file. Refact the import layer. Move controller responsabilities out of app.
  src/app.js
  src/command/suggestions.command.js
  src/infrastructure/administrative.division.adapter.js
  src/infrastructure/country.adapter.js
  src/infrastructure/geoname.importer.adapter.js
  src/infrastructure/suggestions/save.adapter.js
  src/user/rest/controller/suggestions.controller.js
  src/user/rest/response/error.response.js
  src/user/rest/response/suggestion.response.js
  src/user/rest/router.js
  suggestions_index.json
Due: eslint --cache --fix, prettier --write

add endpoint to populate elasticsearch
  src/app.js
  src/user/rest/controller/maintenance.controller.js
  src/user/rest/response/maintenance.response.js
  src/user/rest/router.js
Due: eslint --cache --fix, prettier --write

Add endpoint to delete index
  src/infrastructure/suggestions/elasticsearch.index.js
  src/user/rest/controller/maintenance.controller.js
Due: eslint --cache --fix, prettier --write

Add controller action to create index
  src/infrastructure/suggestions/elasticsearch.index.js
  src/user/rest/controller/maintenance.controller.js
  src/user/rest/router.js
Due: eslint --cache --fix, prettier --write

fix sore when geo location is not used
  src/infrastructure/suggestions/score.js
Due: eslint --cache --fix, prettier --write

fix test suite. Fix all tests
  package-lock.json
  package.json
  src/infrastructure/geoname.importer.adapter.js
  src/infrastructure/suggestions/search.adapter.js
  src/user/rest/response/suggestion.response.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Add airbnb eslint rules.
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
  src/app.js
  src/command/suggestions.command.js
  src/infrastructure/administrative.division.adapter.js
  src/infrastructure/country.adapter.js
  src/infrastructure/geoname.importer.adapter.js
  src/infrastructure/suggestions/elasticsearch.client.js
  src/infrastructure/suggestions/elasticsearch.index.js
  src/infrastructure/suggestions/save.adapter.js
  src/infrastructure/suggestions/score.js
  src/infrastructure/suggestions/search.adapter.js
  src/query/suggestions.query.js
  src/user/rest/controller/maintenance.controller.js
  src/user/rest/controller/suggestions.controller.js
  src/user/rest/response/error.response.js
  src/user/rest/response/maintenance.response.js
  src/user/rest/response/suggestion.response.js
  src/user/rest/router.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

fix code style at configs
  config.js
  package.json
Due: eslint --cache --fix, prettier --write

Add response for 404 endpoints
  package.json
  src/user/rest/response/error.response.js
  src/user/rest/router.js
Due: eslint --cache --fix, prettier --write

refact suggestion controller
  src/user/rest/controller/suggestions.controller.js
Due: eslint --cache --fix, prettier --write

fix typo
  src/command/suggestions.command.js
Due: eslint --cache --fix, prettier --write

Move suggestion source to configuration. Add feature to avoid concurrent import
  config.js
  src/user/rest/controller/maintenance.controller.js
Due: eslint --cache --fix, prettier --write

add alias to run all check at once
  package.json
Due: none

refact importer
  src/infrastructure/geoname.importer.adapter.js
Due: eslint --cache --fix, prettier --write

log errors on create index fails
  src/infrastructure/suggestions/elasticsearch.index.js
Due: eslint --cache --fix, prettier --write

add security to maintanance endpoints
  config.js
  src/user/rest/controller/maintenance.controller.js
Due: eslint --cache --fix, prettier --write

remove debug
  config.js
Due: eslint --cache --fix, prettier --write

prepare to deploy heroku
  config.js
  src/infrastructure/suggestions/elasticsearch.client.js
Due: eslint --cache --fix, prettier --write

debug heroku
  config.js
Due: eslint --cache --fix, prettier --write

debug
  config.js
Due: eslint --cache --fix, prettier --write

fix settings
  config.js
Due: eslint --cache --fix, prettier --write

debug
  config.js
  src/app.js
Due: eslint --cache --fix, prettier --write

debug
  src/app.js
Due: eslint --cache --fix, prettier --write

Move README to challenge
  CHALLENGE.md
Due: prettier --write

Add Readme first version
  .nvmrc
  README.md
  doc/infra.jpg
  doc/wrk_suggestions.png
  src/infrastructure/suggestions/save.adapter.js
Due: eslint --cache --fix, prettier --write

add heroku link
  README.md
Due: prettier --write

improve doc
  README.md
Due: prettier --write

improve documentation
  README.md
Due: prettier --write

POC REDIS AS CACHE
  docker-compose.yml
  package-lock.json
  package.json
  src/query/suggestions.query.js
Due: eslint --cache --fix, prettier --write

Implemented option to use redis as cache adapter
  README.md
  config.js
  doc/wrk_suggestions_no_cache.png.png
  doc/wrk_suggestions_with_cache.png
  docker-compose.yml
  src/command/suggestions.command.js
  src/infrastructure/suggestions/elasticsearch/client.js
  src/infrastructure/suggestions/elasticsearch/index.maintenance.js
  src/infrastructure/suggestions/elasticsearch/save.adapter.js
  src/infrastructure/suggestions/elasticsearch/score.calculate.js
  src/infrastructure/suggestions/elasticsearch/search.adapter.js
  src/infrastructure/suggestions/redis/client.js
  src/infrastructure/suggestions/redis/search.cached.adapter.js
  src/query/suggestions.query.js
  src/user/rest/controller/maintenance.controller.js
Due: eslint --cache --fix, prettier --write

Node challenge files removed for php
  .nvmrc
  CHALLENGE_README.md
  app.js
  data/README.md
  data/cities_canada-usa.tsv
  package.json
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Init lumen project for challenge
  .editorconfig
  .env.example
  .gitignore
  .styleci.yml
  CHALLENGE_README.md
  Dockerfile
  README.md
  app/Console/Commands/.gitkeep
  app/Console/Kernel.php
  app/Exceptions/Handler.php
  app/Http/Controllers/Controller.php
  app/Http/Controllers/SuggestionsController.php
  app/Http/Middleware/ExampleMiddleware.php
  app/Http/Services/DataImportService.php
  app/Http/Services/SuggestService.php
  app/Providers/AppServiceProvider.php
  app/Providers/AuthServiceProvider.php
  app/Providers/EventServiceProvider.php
  artisan
  bootstrap/app.php
  composer.json
  composer.lock
  docker-compose.yml
  nginx/conf.d/city_autocomplete.conf
  php/local.ini
  phpunit.xml
  public/.htaccess
  public/cities_canada-usa.tsv
  public/index.php
  routes/web.php
  storage/app/.gitignore
  storage/framework/cache/.gitignore
  storage/framework/cache/data/.gitignore
  storage/framework/views/.gitignore
  storage/logs/.gitignore
  tests/NonExistedCityTest.php
  tests/TestCase.php
  tests/ValidCityTest.php
Due: prettier --write

Update - README.md
  README.md
Due: prettier --write

added heroku php deployment files.
  .gitignore
  Procfile
  app.json
  composer.json
  composer.lock
  web/.htaccess
  web/index.php
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
