Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

docs: update documentation
  README.md
Due: prettier --write

docs: add CI badge
  README.md
Due: prettier --write

Removing Github Action
  .github/workflows/workflow.yml
Due: none

fix: fix a mistake about the usage of cache
  src/components/suggestions/api/controllers/suggestions.js
Due: eslint --cache --fix, prettier --write

add application framework; add configs for docker, ts
  .gitignore
  app.ts
  docker-compose.yml
  package-lock.json
  package.json
  src/api/config.ts
  src/api/controllers/suggestion.ts
  src/api/db/index.ts
  src/api/router/index.ts
  src/api/server.ts
  tsconfig.json
  tslint.json
Due: none

add loader for city data; setup redis
  app.old
  package-lock.json
  package.json
  src/api/config.ts
  src/api/controllers/suggestion.ts
  src/api/db/index.ts
  src/api/router/index.ts
  src/api/schema/index.ts
  src/api/server.ts
  src/app.ts
  src/load.ts
  tsconfig.json
Due: none

implement scoring algorithm; refactoring; bug fixes
  package-lock.json
  package.json
  src/api/config.ts
  src/api/controllers/suggestion.ts
  src/api/router/index.ts
  src/api/schema/index.ts
  src/api/server.ts
  src/app.ts
  src/load.ts
  test/suggestions.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

update type errors; update .nvmrc version
  .nvmrc
  package.json
  src/api/controllers/suggestion.ts
  src/api/server.ts
Due: none

update package.json for compatibility with heroku
  package.json
Due: none

run locally installed typescript compiler
  package-lock.json
  package.json
Due: none

add postinstall script for data load in heroku
  package.json
Due: none

correct typo in npm script
  package.json
Due: none

heroku compatibility changes
  package.json
Due: none

heroku compatibility changes
  package.json
  src/load.ts
Due: none

heroku compatibility changes
  package-lock.json
  package.json
  src/api/config.ts
  src/api/server.ts
  src/load.ts
Due: none

heroku compatibility changes
  src/load.ts
Due: none

heroku compatibility changes
  src/api/config.ts
Due: none

add express-rate-limiter to control api traffic
  package-lock.json
  package.json
  src/api/server.ts
Due: none

add configuration values for distance/coordinate scored calculations
  src/api/config.ts
  src/api/controllers/suggestion.ts
Due: none

update README, provide sample.env
  README.md
  sample.env
Due: prettier --write

correct README typo
  README.md
Due: prettier --write

Git setup
  .gitattributes
  .gitignore
  .nvmrc
  package-lock.json
  package.json
Due: none

Updated node version
  package.json
Due: none

Fixed binding
  app.js
Due: eslint --cache --fix, prettier --write

Updated integration tests
  package-lock.json
  package.json
  test/suggestions.test.js
Due: eslint --cache --fix, prettier --write

Postgre setup
  comments.md
  data/cities_canada-usa.csv
  data/create-database.sql
  src/index.js
Due: eslint --cache --fix, prettier --write

ES lint setup
  .eslintrc
  .prettierrc
  app.js
  package-lock.json
  package.json
  test/suggestions.test.js
Due: eslint --cache --fix, prettier --write

Setup nodemon
  package.json
  src/app.js
  src/index.js
  test/suggestions.test.js
Due: eslint --cache --fix, prettier --write

WIP
  package-lock.json
  package.json
  src/app.js
  src/controllers/index.js
  src/controllers/suggestions.controller.js
  src/index.js
  src/services/index.js
  src/services/suggestions.service.js
  src/validation/index.js
  src/validation/suggestions.validation.js
Due: eslint --cache --fix, prettier --write

Added structure and validation
  .vscode/settings.json
  TODO.txt
  src/app.js
  src/controllers/index.js
  src/controllers/suggestions.controller.js
  src/index.js
  src/services/index.js
  src/services/suggestions.queries.js
  src/services/suggestions.service.js
  src/validation/index.js
  src/validation/suggestions.validation.js
Due: eslint --cache --fix, prettier --write

Fixed tests
  package.json
  src/controllers/suggestions.controller.js
  src/services/suggestions.queries.js
  test/suggestions.test.js
Due: eslint --cache --fix, prettier --write

wip
  data/create-database.sql
  docker-compose.yml
  package.json
  src/index.js
Due: eslint --cache --fix, prettier --write

WIP2
  src/index.js
Due: eslint --cache --fix, prettier --write

WIP
  package-lock.json
  package.json
  src/services/suggestions.queries.js
Due: eslint --cache --fix, prettier --write

Implemented query
  TODO.txt
  src/index.js
  src/services/suggestions.queries.js
Due: eslint --cache --fix, prettier --write

Added docker-compose
  data/create-database.sql
  database/files/cities_canada-usa.csv
  database/files/create-database.sql
  database/init/init-db.sh
  docker-compose.yml
  src/services/suggestions.queries.js
Due: eslint --cache --fix, prettier --write

Fixed tests
  .eslintrc
  README.md
  package.json
  src/services/suggestions.queries.js
  test/suggestions.test.js
Due: eslint --cache --fix, prettier --write

Heroku fix
  src/services/suggestions.queries.js
Due: eslint --cache --fix, prettier --write
