Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

feat: merge the services objects into an index file
  src/services/index.js
Due: eslint --cache --fix, prettier --write

feat: add function to initialize services
  src/initServices.js
Due: eslint --cache --fix, prettier --write

feat: add HTTP errors used to wrap all errors and provide nice format
  src/errors/index.js
Due: eslint --cache --fix, prettier --write

feat: add documentation plugin for fastify (swagger)
  src/plugins/documentation.js
Due: eslint --cache --fix, prettier --write

feat: add error plugin for fastify
  src/plugins/errorHandlers.js
Due: eslint --cache --fix, prettier --write

feat: merge the plugins into an index file
  src/plugins/index.js
Due: eslint --cache --fix, prettier --write

feat: add helper function to load component
  src/helpers/index.js
  src/helpers/loadComponents.js
Due: eslint --cache --fix, prettier --write

feat: add function to manage the application shutdown
  src/gracefulShutdown.js
Due: eslint --cache --fix, prettier --write

feat: add function to initialize the application (fastify)
  src/initApp.js
Due: eslint --cache --fix, prettier --write

feat: add health component
  src/components/health/api/controllers/healthCheck.js
  src/components/health/api/controllers/index.js
  src/components/health/api/documentation/index.js
  src/components/health/api/index.js
  src/components/health/api/routes/healthCheck.js
  src/components/health/api/routes/index.js
  src/components/health/index.js
Due: eslint --cache --fix, prettier --write

feat: add suggestions component
  src/components/suggestions/api/controllers/index.js
  src/components/suggestions/api/controllers/suggestions.js
  src/components/suggestions/api/documentation/index.js
  src/components/suggestions/api/index.js
  src/components/suggestions/api/routes/index.js
  src/components/suggestions/api/routes/suggestions.js
  src/components/suggestions/index.js
  src/components/suggestions/searchEngine/formatter/index.js
  src/components/suggestions/searchEngine/index.js
  src/components/suggestions/searchEngine/repository/findSuggestions.js
  src/components/suggestions/searchEngine/repository/index.js
Due: eslint --cache --fix, prettier --write

feat: merge components into a single file (used to load them)
  src/components/index.js
Due: eslint --cache --fix, prettier --write

feat: add migrations used to create indexes and seed the search engine
  src/migrations/createCitiesIndex.js
  src/migrations/data/canada_usa_seed.tsv
  src/migrations/helpers/countryFromCode.js
  src/migrations/helpers/index.js
  src/migrations/helpers/regionFromFIPS.js
  src/migrations/index.js
  src/migrations/seedCitiesIndex.js
Due: eslint --cache --fix, prettier --write

config: add configuration files
  src/config/app.js
  src/config/cache.js
  src/config/index.js
  src/config/logger.js
  src/config/searchEngine.js
  src/config/server.js
Due: eslint --cache --fix, prettier --write

feat: add boot file used to launch the application
  src/boot.js
Due: eslint --cache --fix, prettier --write

build: add scripts
  package.json
Due: none

config: add .env files
  .env.docker
  .env.example
Due: none

build: add docker environment for test and development
  Dockerfile
  Dockerfile.dev
  docker-compose.yaml
Due: none

chore: add .gitkeep files to keep folders on Git
  logs/.gitkeep
  test/.gitkeep
Due: none

docs: add README file (WIP)
  README.md
Due: prettier --write

build: wait for the availability of services (elastic and redis) before starting the application
  Dockerfile.dev
  docker-compose.yaml
Due: none

style: fix eslint errors
  src/components/health/api/controllers/healthCheck.js
  src/components/suggestions/api/routes/suggestions.js
  src/components/suggestions/searchEngine/repository/findSuggestions.js
  src/services/cache/index.js
Due: eslint --cache --fix, prettier --write

docs: fix typo
  src/services/searchEngine/SearchEngineClient.js
Due: eslint --cache --fix, prettier --write

feat: add possibility to change the connection (used for tests)
  src/services/searchEngine/SearchEngineClient.js
Due: eslint --cache --fix, prettier --write

fix: pass "isConnected" to false when client is disconnected
  src/services/searchEngine/SearchEngineClient.js
Due: eslint --cache --fix, prettier --write

fix: fix typo
  src/services/searchEngine/SearchEngineClient.js
Due: eslint --cache --fix, prettier --write

fix: throw an error if the client is already connected
  src/services/searchEngine/SearchEngineClient.js
Due: eslint --cache --fix, prettier --write

build: fix the entrypoint to use docker-compose-wait
  Dockerfile.dev
Due: none

build: install dependencies for testing
  package-lock.json
  package.json
Due: none

test: add tests for search engine client
  test/unit/services/searchEngine/SearchEngineClient.test.js
Due: eslint --cache --fix, prettier --write

fix: use logger level from the environment variables
  .env.docker
  .env.example
  src/config/logger.js
Due: eslint --cache --fix, prettier --write

refactor: split the boot of application for simplify testing
  package.json
  src/boot.js
  src/buildApp.js
  src/buildServices.js
  src/run.js
Due: eslint --cache --fix, prettier --write

fix: return status 404 if suggestions are empty
  src/components/suggestions/api/controllers/suggestions.js
Due: eslint --cache --fix, prettier --write

test: add integration tests
  package-lock.json
  package.json
  test/integration/app.test.js
Due: eslint --cache --fix, prettier --write

build: add target in the container and image name
  docker-compose.yaml
Due: none

build: enable logger
  .env.docker
Due: none

test: exit mocha when tests are finished
  package.json
Due: none

docs: add documentation
  README.md
Due: prettier --write

ci: add github action to check the code via eslint
  .github/workflows/workflow.yml
Due: none

build: fix mocha environment for eslint
  .eslintrc.js
  test/unit/services/searchEngine/SearchEngineClient.test.js
Due: eslint --cache --fix, prettier --write
