Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

🚀 final commit
  README.md
  docker-compose.yml
  ormconfig.js
  package.json
  src/app.module.ts
  src/city/city.dto.ts
  src/city/city.entity.ts
  src/city/city.module.ts
  src/city/city.service.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/main.ts
  src/suggestion/controller/suggestion.controller.ts
  src/suggestion/controller/suggestions.controller.spec.ts
  src/suggestion/dto/city.dto.ts
  src/suggestion/dto/suggestion.dto.ts
  src/suggestion/dto/suggestions.dto.ts
  src/suggestion/query/suggestion.query.ts
  src/suggestion/service/suggestion.service.ts
  src/suggestion/suggestion.module.ts
  src/suggestion/utils/connection.ts
  src/suggestion/validator/LatitudeValidator.ts
  src/suggestion/validator/LongitudeValidator.ts
  test/suggestions.controller.js
  tsconfig-paths-bootstrap.js
  tslint.json
Due: eslint --cache --fix, prettier --write

🚀 Add passport security - API key auth - clean up
  .env.example
  README.md
  package.json
  resources/data/cities_canada-usa.tsv
  src/app.module.ts
  src/auth/auth-header-api-key.strategy.ts
  src/auth/auth.module.ts
  src/suggestion/controller/suggestion.controller.ts
Due: prettier --write

🐛 Missing script - index on lat and long
  resources/flyway/V3__addIndexGeo.sql
Due: none

chore: add git ignore
  .gitignore
Due: none

chore: update node version & dependencies
  .nvmrc
  package.json
Due: none

chore: add ts-config
  tsconfig.json
Due: none

chore: add jest config
  jest.config.js
Due: eslint --cache --fix, prettier --write

refactor: convert project to use typescript, fastify, jest
  src/app.ts
  src/suggestions.spec.ts
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

chore: update ts-config
  tsconfig.json
  tsconfig.prod.json
Due: none

chore: update build & start scripts
  package.json
Due: none

chore(ci): add GitHub action
  .github/workflows/build-test.yml
Due: none

chore: add package-lock.json
  package-lock.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

test: fix response body ref
  src/suggestions.spec.ts
Due: none

feat: add logic to load & parse tsv data
  src/data.ts
Due: none

feat: add suggestion route logic
  src/app.ts
Due: none

fix: listen to all net interfaces
  src/app.ts
Due: none

chore: delete old app file
  app.js
Due: eslint --cache --fix, prettier --write

fix: don't start server for unit tests
  src/app.ts
Due: none

test: enable verification tests
  src/suggestions.spec.ts
Due: none

feat: add suggestions
  .gitignore
  app.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

feat: add cache
  app.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

config: update node version
  package.json
Due: none

config: remove host
  app.js
Due: eslint --cache --fix, prettier --write

tests: update dependencies and fix
  package-lock.json
  package.json
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

handle encoded case
  app.js
Due: eslint --cache --fix, prettier --write

refactor: move helper functions
  app.js
  utils/helpers.js
Due: eslint --cache --fix, prettier --write

docs: update readme
  README.md
Due: prettier --write

Adding a suggestion scoring for loactions autocomplete
  .env.example
  .gitignore
  README.md
  app.js
  output.json
  package-lock.json
  package.json
  setup.sh
  src/controllers/location.controller.js
  src/models/location.model.js
  src/setup/data.js
  src/setup/index.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

updaing node version
  README.md
  package.json
Due: prettier --write

updaing node version
  package.json
Due: none

updaing start script
  ecosystem.config.js
  package.json
Due: eslint --cache --fix, prettier --write

updaing start script
  package-lock.json
  package.json
Due: none

updaing start script
  app.js
Due: eslint --cache --fix, prettier --write

upading port
  app.js
Due: eslint --cache --fix, prettier --write

prettier
  package.json
  src/app.module.ts
  src/main.ts
  src/suggestions/suggestions.controller.ts
  test/suggestions.spec.ts
Due: none

some build
  dist/prisma/seed.js
  dist/prisma/seed.js.map
  dist/src/suggestions/suggestions.controller.js
  dist/src/suggestions/suggestions.controller.js.map
  dist/tsconfig.build.tsbuildinfo
  prisma/seed.ts
Due: eslint --cache --fix, prettier --write

database url
  prisma/.env
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
