Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

build
  dist/prisma/seed.js
  dist/prisma/seed.js.map
  dist/src/server.d.ts
  dist/src/server.js
  dist/src/server.js.map
  dist/tsconfig.build.tsbuildinfo
  prisma/.env
Due: eslint --cache --fix, prettier --write

change postinstall script on package.json
  package.json
Due: none

changed packagejson depends
  package.json
Due: none

change port to heroku port
  src/main.ts
Due: none

fix suggestions search query
  dist/src/main.js
  dist/src/main.js.map
  dist/src/suggestions/suggestions.controller.js
  dist/src/suggestions/suggestions.controller.js.map
  dist/tsconfig.build.tsbuildinfo
  src/suggestions/suggestions.controller.ts
Due: eslint --cache --fix, prettier --write

edited psql select query
  src/suggestions/suggestions.controller.ts
Due: none

.env documentation and suggestions pgsql edit
  prisma/.env
  src/suggestions/suggestions.controller.ts
Due: none

fixed scoring algo
  dist/src/main.js
  dist/src/main.js.map
  dist/src/suggestions/suggestions.controller.js
  dist/src/suggestions/suggestions.controller.js.map
  dist/tsconfig.build.tsbuildinfo
  src/main.ts
  src/suggestions/suggestions.controller.ts
Due: eslint --cache --fix, prettier --write

commit
  dist/src/suggestions/suggestions.controller.js
  dist/src/suggestions/suggestions.controller.js.map
  dist/tsconfig.build.tsbuildinfo
Due: eslint --cache --fix, prettier --write

fixed suggestions similarity
  dist/src/suggestions/suggestions.controller.js
  dist/tsconfig.build.tsbuildinfo
  src/suggestions/suggestions.controller.ts
Due: eslint --cache --fix, prettier --write

changed read me
  README.md
Due: prettier --write

fixed readme format
  README.md
Due: prettier --write

Add a gitignore file to ignore node_modules folder in git
  .gitignore
  package.json
Due: none

Commit package lock to solution
  package-lock.json
Due: none

Update the setup scenario for windows
  README.md
  setup.sh
Due: prettier --write

Update the gitignore with a standardized node project gitignore file
  .gitignore
Due: none

Fix the npm run test command to run independently of the node_module structure
  package.json
Due: none

Remove gratuitously failing test
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Introduce a concept of 404 vs 200 to app.js
  app.js
Due: eslint --cache --fix, prettier --write

Add prettier setup for automated formatting
  .prettierrc.json
Due: none

Update npm version to latest
  .nvmrc
  .prettierrc.json
  package-lock.json
  package.json
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Correct cleanup of the /suggestions tests
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Start reading the cities in the solution
  src/readCities.js
  test/readCities.js
  test/samples/10_cities.tsv
Due: eslint --cache --fix, prettier --write

Ensure returned object keys match expectation
  src/readCities.js
  test/readCities.js
Due: eslint --cache --fix, prettier --write

Add details to the readme
  README.md
Due: prettier --write

Start returning suggestions
  app.js
  package.json
  src/readCities.js
  src/suggestionGeneration.js
  src/textNormalization.js
  test/System/suggestions.js
  test/Unit/readCities.js
  test/Unit/samples/10_cities.tsv
  test/Unit/textNormalization.js
Due: eslint --cache --fix, prettier --write

Rename folders in lowerCamelCase
  test/Unit/readCities.js
Due: eslint --cache --fix, prettier --write

Fix the query string parsing mechanism
  app.js
Due: eslint --cache --fix, prettier --write

Fix the match validating logic
  test/System/suggestions.js
Due: eslint --cache --fix, prettier --write

Reactivate the skipped tests
  test/System/suggestions.js
Due: eslint --cache --fix, prettier --write

Simplify the suggestion name to only contain name and country
  src/suggestionGeneration.js
Due: eslint --cache --fix, prettier --write

Validate no cities with less or equal to 5000 population will be shown
  src/suggestionGeneration.js
  test/Unit/suggestionGeneration.js
Due: eslint --cache --fix, prettier --write

Sort the suggestions by score
  src/suggestionGeneration.js
  test/Unit/suggestionGeneration.js
Due: eslint --cache --fix, prettier --write

Validate proper input at the api level
  app.js
  test/System/suggestions.js
Due: eslint --cache --fix, prettier --write

Add a latitude/longitude weight to the sorting algorithm
  src/suggestionGeneration.js
  test/Unit/suggestionGeneration.js
Due: eslint --cache --fix, prettier --write

Limit the decimals shown of the score
  src/suggestionGeneration.js
Due: eslint --cache --fix, prettier --write

Add explanations on some choices made in the solution
  README.md
  app.js
  src/suggestionGeneration.js
Due: eslint --cache --fix, prettier --write

Normalize code styles and usage of var
  README.md
  app.js
  src/readCities.js
  src/textNormalization.js
  test/System/suggestions.js
  test/Unit/readCities.js
  test/Unit/suggestionGeneration.js
  test/Unit/textNormalization.js
Due: eslint --cache --fix, prettier --write

Tweak the documentation again
  README.md
  src/readCities.js
Due: eslint --cache --fix, prettier --write

Add procfile for heroku deployment
  Procfile
Due: none
