Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

update procfile
  Procfile
Due: none

refactor app file
  src/app.ts
Due: none

use config port
  src/app.ts
Due: none

use just port
  src/app.ts
Due: none

Heroku
  src/app.ts
Due: none

add host url based on env
  src/app.ts
  src/config/env.ts
Due: none

Fix npm lint not working and update documentation
  .eslintrc.cjs
  .prettierrc.cjs
  .prettierrc.js
  README.md
  src/services/citiesService.ts
Due: eslint --cache --fix, prettier --write

- Fix npm lint not working - Add Procfile for Heroku - Update app to use NODE_ENV - update documentation
  .eslintrc.cjs
  .prettierrc.cjs
  .prettierrc.js
  Procfile
  README.md
  package.json
  src/app.ts
  src/config/env.ts
  src/services/citiesService.ts
Due: eslint --cache --fix, prettier --write

update score vaue precision
  src/helper/index.ts
  src/services/citiesService.ts
Due: none

- Fix npm lint not working - Add Procfile for Heroku - Update app to use NODE_ENV - update documentation -Refactor types - Update score value precision
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .mocharc.json
  .prettierrc.cjs
  Procfile
  README.md
  app.js
  data/README.md
  docs/architecture.png
  package-lock.json
  package.json
  src/app.ts
  src/config/env.ts
  src/config/index.ts
  src/config/middlewares/cacheMiddleware.ts
  src/config/middlewares/index.ts
  src/config/middlewares/middlewares.definition.ts
  src/controllers/__tests__/citiesController.spec.ts
  src/controllers/citiesController.definition.ts
  src/controllers/citiesController.ts
  src/controllers/index.ts
  src/helper/index.ts
  src/routes/index.ts
  src/routes/routes.definition.ts
  src/services/__tests__/citiesService.spec.ts
  src/services/cities.definition.ts
  src/services/citiesService.ts
  src/services/index.ts
  src/shared/apiService.ts
  test/suggestions.js
  test/suggestions.spec.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

update comment
  src/services/citiesService.ts
Due: none

Add additional comments to city service
  src/services/citiesService.ts
Due: none

update readme
  README.md
Due: prettier --write

chore: nodejs update, installed typescript and jest
  .gitignore
  .nvmrc
  package-lock.json
  package.json
Due: none

feat: making some changes to make project typescript based
  .env
  .gitignore
  app.js
  app.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

chore: adding eslint and prettier to project
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: none

feat: added tsv parser
  src/interfaces/raw_cities.ts
  src/parser/tsv_parser.ts
  src/utils/data_utils.ts
  src/utils/tsv_utils.ts
Due: none

feat: created basic suggestion service
  src/services/suggestion_service.ts
Due: none

feat: added basic version of api endpoint
  app.ts
  package-lock.json
  package.json
  src/app.ts
  src/interfaces/interfaces.ts
  src/interfaces/raw_cities.ts
  src/parser/tsv_parser.ts
  src/server/requestValidators.ts
  src/server/routes.ts
  src/server/server.ts
  src/services/suggestion_service.ts
  src/utils/data_utils.ts
  src/utils/geography.util.ts
  src/utils/parser/tsv_parser.ts
  src/utils/parser/tsv_utils.ts
  src/utils/scoring.util.ts
  src/utils/tsv_utils.ts
  tsconfig.json
Due: none

fix: some cleanup
  package.json
  src/app.ts
  src/server/server.ts
  src/services/suggestion_service.ts
Due: none

feat: wrote tests and some fixes
  .env
  jest.config.js
  nodemon.json
  package-lock.json
  package.json
  src/app.ts
  src/server/routes.ts
  src/server/server.ts
  src/services/suggestion_service.ts
  src/utils/geography.util.ts
  src/utils/scoring.util.ts
  test/suggestions.js
  test/suggestions.test.ts
Due: eslint --cache --fix, prettier --write

fix: deleted file
  app.js
Due: eslint --cache --fix, prettier --write

chore: project config changes
  .eslintignore
  tsconfig.json
Due: none

fix: sorting is fixed to be descending
  src/utils/scoring.util.ts
Due: none

feat: improved caching to be for a certain geolocation in 110m
  src/services/suggestion_service.ts
Due: none

feat: improved scoring algo
  package.json
  src/utils/scoring.util.ts
Due: none

feat: made server capable for handling heavy load and some fixes
  package-lock.json
  package.json
  src/app.ts
  src/server/server.ts
  src/services/suggestion_service.ts
Due: none

chore: code formatting
  src/app.ts
  src/interfaces/interfaces.ts
  src/server/requestValidators.ts
  src/server/routes.ts
  src/server/server.ts
  src/services/suggestion_service.ts
  src/utils/parser/tsv_parser.ts
  src/utils/scoring.util.ts
Due: none

chore: adding newline to config files
  .eslintignore
  .eslintrc.json
  .gitignore
  .nvmrc
  .prettierrc.json
  jest.config.js
  nodemon.json
Due: eslint --cache --fix, prettier --write

feat: simplified city name detail string function
  src/utils/geography.util.ts
Due: none

feat: some scoring test
  src/utils/scoring.util.ts
  test/scoring.test.ts
Due: none

fix: now validation error is sent as json and 400 code
  src/server/requestValidators.ts
Due: none

feat: more tests
  src/server/requestValidators.ts
  test/suggestions.test.ts
Due: none

feat: changes string similarity algo
  package-lock.json
  package.json
  src/utils/scoring.util.ts
Due: none

feat: back to jw algo again.
  package-lock.json
  package.json
  src/utils/scoring.util.ts
Due: none

chore: config fix
  .env
  .gitignore
Due: none

chore: newline to gitignore
  .gitignore
Due: none

chore: reformat code
  src/server/requestValidators.ts
  src/utils/geography.util.ts
  src/utils/scoring.util.ts
  test/scoring.test.ts
  test/suggestions.test.ts
Due: none

fix: interface update
  package.json
  src/interfaces/interfaces.ts
Due: none
