Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Fixing linting warnings and errors.
  .eslintrc
  app.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Adding the URL module from the standard lib in order to manage query strings.
  app.js
Due: eslint --cache --fix, prettier --write

Moving default header to json and fix the unhandled resources.
  app.js
Due: eslint --cache --fix, prettier --write

initial working version
  app.js
  config/production.json
  lib/calculateScore.js
  lib/dataParser.js
  lib/handleRequest.js
  package.json
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Some code reorganizing and cleanup, mostly
  app.js
  controllers/suggestionsController.js
  lib/dataParser.js
  lib/handleRequest.js
  package-lock.json
  package.json
  server.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

rename readme
  original-challenge.md
Due: prettier --write

Create README.md
  README.md
Due: prettier --write

fix error in fn declaration
  lib/handleRequest.js
Due: eslint --cache --fix, prettier --write

minor changes: node version and change to const
  .nvmrc
  lib/handleRequest.js
Due: eslint --cache --fix, prettier --write

Implement my own scoring algorithm
  lib/calculateScore.js
  lib/handleRequest.js
Due: eslint --cache --fix, prettier --write

fixing scoring coefficients
  lib/calculateScore.js
Due: eslint --cache --fix, prettier --write

add comment
  lib/calculateScore.js
Due: eslint --cache --fix, prettier --write

Add dockerfile. Add gitignore.
  .gitignore
  Dockerfile
  docker_build.sh
Due: none

Update README.md
  README.md
Due: prettier --write

Adding a script for debugging in vscode.
  package.json
Due: none

Adding module to parse a .csv file.
  package-lock.json
  package.json
Due: none

Adding helper functions to parse a .csv file and filter cities.
  helpers.js
Due: eslint --cache --fix, prettier --write

instantiating the helper functions to build suggestions.
  app.js
Due: eslint --cache --fix, prettier --write

Calculating the location's score for each city.
  app.js
  helpers.js
Due: eslint --cache --fix, prettier --write

handle internal error (http 500)
  app.js
  config.js
  datasource.js
  package-lock.json
  package.json
  services.js
  utils.js
Due: eslint --cache --fix, prettier --write

replace regexp search with regular string search
  services.js
Due: eslint --cache --fix, prettier --write

check constraints on cities & test
  data/admin2Codes.txt
  datasource.js
  models/city.js
  package-lock.json
  package.json
  test/fixtures/cities_duplicates.tsv
  test/fixtures/cities_duplicates_fixable.tsv
  test/fixtures/cities_small.tsv
  test/fixtures/cities_world.tsv
  test/unit.js
Due: eslint --cache --fix, prettier --write

remove .only on unit tests
  test/unit.js
Due: eslint --cache --fix, prettier --write

mv services, datasource & utils to /services
  app.js
  index.js
  services/datasource.js
  services/services.js
  services/utils.js
  test/suggestions.js
  test/unit.js
Due: eslint --cache --fix, prettier --write

node 14.2.0
  package.json
Due: none

move dev-dependencies to dependencies as required by heroku
  package-lock.json
  package.json
Due: none

fix data initialization log
  index.js
  services/datasource.js
Due: eslint --cache --fix, prettier --write

unit test suggestion engine
  test/fixtures/admin2Codes.txt
  test/fixtures/cities_canada-usa.tsv
  test/unit.js
Due: eslint --cache --fix, prettier --write

test scoring based on population
  test/fixtures/cities_canada-usa.tsv
  test/unit.js
Due: eslint --cache --fix, prettier --write

Fixing the status code set for records found.
  app.js
Due: eslint --cache --fix, prettier --write

default distance score to 0 when no [lat,long] is provided
  services/services.js
Due: eslint --cache --fix, prettier --write

Adding nock module to mock responses.
  package-lock.json
  package.json
Due: none

Removing deprecated test case.
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Fixing integration tests.
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Adding nyc to get tests coverage reports.
  package-lock.json
  package.json
Due: none

Excluding nyc unnecessary dependencies within the .gitignore file.
  .gitignore
Due: none

Closing server connection after all the integration tests had run.
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Restructuring the project directories.
  .huskyrc
  package.json
  src/app.js
  src/helpers/index.js
  src/helpers/miscs.helper.js
  src/libs/index.js
  src/libs/parser.lib.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Restructuring the project in order to make the code scalable and easy to migrate.
  src/app.js
  src/controllers/index.js
  src/controllers/miscs.controller.js
  src/controllers/suggestions.controller.js
  src/routes/index.js
  src/routes/suggestions.route.js
  src/services/index.js
  src/services/suggestions.service.js
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
