Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

refactor: removed request contract type
  src/routes/index.ts
Due: none

fix: fixed tests
  __tests__/suggestions.test.ts
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

chore: added excluded folders from ts
  tsconfig.json
Due: none

doc: adding new information inside README.md about lint and tests
  README.md
Due: prettier --write

full changes, commit
  .gitignore
  README.md
  app.js
  cities_tsv_parser.js
  data_searcher.js
  package-lock.json
  package.json
  simple_memory_cache.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

removed server path
  app.js
Due: eslint --cache --fix, prettier --write

Changed data path
  cities_tsv_parser.js
Due: eslint --cache --fix, prettier --write

Added cwd
  cities_tsv_parser.js
Due: eslint --cache --fix, prettier --write

Add debugger for Heroku
  Procfile
Due: none

Protection against different line breaks
  .gitignore
  cities_tsv_parser.js
Due: eslint --cache --fix, prettier --write

Removing Heroku Debug code.
  Procfile
Due: none

add suggestions api machinery
  .babelrc
  .eslintrc.yml
  .gitignore
  .sequelizerc
  app.js
  package-lock.json
  package.json
  src/api/Suggestions.js
  src/api/index.js
  src/apimachinery/SuggestionsMachinery.js
  src/apimachinery/index.js
  src/config/config.js
  src/config/db.js
  src/index.js
  src/migrations/20211128155609-create-geonames.js
  src/models/geonames.js
  src/seeders/20211127232734-geonames-data.js
  src/server/ApiServer.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

add ascii_name column and fix tests
  .eslintrc.yml
  package-lock.json
  package.json
  src/api/Suggestions.js
  src/apimachinery/SuggestionsMachinery.js
  src/migrations/20211128155609-create-geonames.js
  src/models/geonames.js
  src/seeders/20211127232734-geonames-data.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

update readme
  README.md
  src/apimachinery/SuggestionsMachinery.js
Due: eslint --cache --fix, prettier --write

remove engines from package.json
  package.json
Due: none

heroku deployment changes
  package.json
Due: none

add use_env_variable to connect to production database in heroku
  src/config/config.js
Due: eslint --cache --fix, prettier --write

add ssl dialectOptions for heroku
  src/config/db.js
Due: eslint --cache --fix, prettier --write

modifying dialectOptions for heroku
  src/config/db.js
Due: eslint --cache --fix, prettier --write

troubleshooting heroku db
  src/config/db.js
Due: eslint --cache --fix, prettier --write

change db initialization
  src/config/db.js
Due: eslint --cache --fix, prettier --write

turn on ssl for heroku
  src/config/db.js
Due: eslint --cache --fix, prettier --write

add rejectUnauthorized ssl
  src/config/db.js
Due: eslint --cache --fix, prettier --write

add dialectOptions to ptoduction config
  src/config/config.js
Due: eslint --cache --fix, prettier --write

update readme and minor test
  README.md
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

minor readme update
  README.md
Due: prettier --write

refactor: initial cleanup & basic packages
  .nvmrc
  app.js
  package.json
  scripts/data/README.md
  scripts/data/cities_canada-usa.tsv
  src/index.ts
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

chore: setting up gitignore & dotenv
  .env
  .gitignore
  package-lock.json
  package.json
Due: none

chore: eslint & jest configuration
  .eslintignore
  .eslintrc.json
  jest.config.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: adding docker compose with es and kibana
  docker-compose.yml
Due: none

feat: express entry point - we are alive 🚀
  package.json
  src/index.ts
Due: none

feat: es client & cities seed script
  .eslintignore
  package-lock.json
  package.json
  scripts/seed-cities.ts
  src/clients/elasticsearch-client.ts
Due: none

feat: suggestion router/controller/service
  .env
  src/controllers/suggestion-controller.ts
  src/index.ts
  src/routes/suggestion-routes.ts
  src/services/suggestion-service.ts
Due: none

fix: importing city interface from service
  scripts/seed-cities.ts
Due: none

chore: adding basic scripts
  .gitignore
  package.json
Due: none

docs: updating readme
  README.md
Due: prettier --write
