Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

create score calc
  app.js
  domain/error/error.js
  domain/suggestion-service.js
  error-handling.js
  repository/suggestion-repo.js
  test-cal-coo.js
Due: eslint --cache --fix, prettier --write

fix tests
  app.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

configuring to heroku
  .vscode/settings.json
  MYREADME.md
  app.js
  package.json
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

add documentation markdown
  DOCUMENTATION.md
  MYREADME.md
  domain/suggestion-service.js
  error-handling.js
Due: eslint --cache --fix, prettier --write

adding solution
  .eslintignore
  .eslintrc.js
  .gitignore
  .nvmrc
  .prettierrc
  app.js
  package.json
  src/app.ts
  src/data/README.md
  src/data/cities_canada-usa.tsv
  src/data/connection.ts
  src/data/output_cities.json
  src/entities/location.entity.ts
  src/errors/bad-request-error.ts
  src/errors/custom-error.ts
  src/errors/database-connection-error.ts
  src/errors/not-found-error.ts
  src/errors/request-validation-error.ts
  src/index.ts
  src/middlewares/error-handler.ts
  src/middlewares/validate-request.ts
  src/modals/location.ts
  src/routes/suggestions-route.ts
  src/services/get-suggestion-service.ts
  src/services/repository.ts
  src/test/setup.ts
  src/tests/suggestions.test.ts
  src/utils/env.ts
  src/utils/isEmpty.ts
  test/suggestions.js
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Added search by cities name
  .gitignore
  app.js
  package.json
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

scoring algorithm first iteration
  package-lock.json
  package.json
  src/app-events.ts
  src/app.module.ts
  src/cities/index.ts
  src/cities/interfaces/city.ts
  src/cities/repository/inmemory-cities.repository.ts
  src/debug/debug.module.ts
  src/debug/debug.service.spec.ts
  src/debug/debug.service.ts
  src/location/location.module.ts
  src/location/location.parser.ts
  src/location/location.service.spec.ts
  src/location/location.service.ts
  src/metrics/log.metrics.service.spec.ts
  src/metrics/log.metrics.service.ts
  src/metrics/metrics.module.ts
  src/seeder/cities.seeder.spec.ts
  src/seeder/cities.seeder.ts
  src/seeder/city-metada.mapper.spec.ts
  src/seeder/city-metadata.mapper.ts
  src/seeder/seeder.module.ts
  src/sugesstions/interfaces/suggestion-query.ts
  src/sugesstions/interfaces/suggestion-request.ts
  src/sugesstions/interfaces/suggestion.ts
  src/sugesstions/score.calculator.ts
  src/sugesstions/sugesstions.module.ts
  src/sugesstions/suggestion.mapper.ts
  src/sugesstions/suggestions.controller.ts
  src/sugesstions/suggestions.service.ts
  test/suggestions.e2e-spec.ts
Due: none

better sorting approach
  package-lock.json
  package.json
  src/sugesstions/score.calculator.spec.ts
  src/sugesstions/score.calculator.ts
  src/sugesstions/suggestion.mapper.spec.ts
  src/sugesstions/suggestion.mapper.ts
  src/sugesstions/suggestion.sorter.ts
  src/sugesstions/suggestions.service.spec.ts
  src/sugesstions/suggestions.service.ts
  src/sugesstions/top-suggestions.reducer.spec.ts
  src/sugesstions/top-suggestions.reducer.ts
Due: none

parametrized configurations
  package-lock.json
  package.json
  src/app.module.ts
  src/cities/repository/cities-repository.module.ts
  src/cities/repository/config.ts
  src/cities/repository/inmemory-cities.repository.ts
  src/indexes/index.ts
  src/indexes/indexes.module.ts
  src/indexes/indexes.repository.ts
  src/indexes/indexes.service.spec.ts
  src/indexes/indexes.service.ts
  src/indexes/interfaces/weighted.index.ts
  src/location/config.ts
  src/location/location.module.ts
  src/seeder/cities.seeder.spec.ts
  src/seeder/city-metada.mapper.spec.ts
  src/seeder/config.ts
  src/seeder/seeder.module.ts
  src/sugesstions/config.ts
  src/sugesstions/sugesstions.module.ts
  src/sugesstions/suggestions.service.spec.ts
  src/sugesstions/suggestions.service.ts
Due: none

Improved score calculation and added extra checks
  app.js
Due: eslint --cache --fix, prettier --write

Allow listen on all addresses
  app.js
Due: eslint --cache --fix, prettier --write

Rollback npm start
  package.json
Due: none

Fix npm version
  app.js
  package.json
Due: eslint --cache --fix, prettier --write

Fix node version
  package.json
Due: none

updated e2e tests
  src/sugesstions/suggestions.controller.ts
  test/app.e2e-spec.ts
  test/suggestions.e2e-spec.ts
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

improved logging
  .env
  src/app-events.ts
  src/app.module.ts
  src/cities/cities.service.ts
  src/cities/repository/inmemory-cities.repository.ts
  src/main.ts
  src/metrics/log.metrics.service.ts
  src/seeder/cities.seeder.ts
  src/seeder/city-metadata.mapper.ts
  src/sugesstions/config.ts
  src/sugesstions/suggestions.service.ts
  src/sugesstions/top-suggestions.reducer.ts
Due: none

switched to fastify for better performance
  package-lock.json
  package.json
  src/main.ts
  test/suggestions.e2e-spec.ts
Due: none

added docker support
  Dockerfile
  docker-compose.yml
Due: none

added heroku support
  app.js
  package.json
  src/main.ts
Due: eslint --cache --fix, prettier --write

mongo db strategy
  .env
  .gitignore
  package-lock.json
  package.json
  src/app-events.ts
  src/app.module.ts
  src/cities/cities.module.ts
  src/cities/interfaces/city-query.ts
  src/cities/interfaces/weighted-index.ts
  src/cities/repository/cities-repository.module.ts
  src/cities/repository/cities.inmemory.repository.ts
  src/cities/repository/cities.mongo.repository.ts
  src/cities/repository/city.schema.ts
  src/cities/repository/config.ts
  src/cities/repository/mongo-initializer.service.ts
  src/cities/repository/mongo-initializer.state.ts
  src/config.ts
  src/main.ts
  src/seeder/cities.seeder.spec.ts
  src/seeder/cities.seeder.ts
  src/sugesstions/config.ts
  src/sugesstions/suggestions.service.ts
  test/suggestions.e2e-spec.ts
Due: none

added development notes
  .gitignore
  NOTES.md
  README.md
  img/memory-graphs.png
  img/memory-grid.png
  img/mongo-grid-withlocation.png
  img/mongo-grid.png
  img/mongo-vs-memory-graph.png
  locustfile.py
Due: prettier --write

fix images on readme
  NOTES.md
Due: prettier --write

Add docker-compose for development
  docker-compose.yml
  suggestions_index.json
Due: none

Add git ignore
  .gitignore
Due: none

Add elasticsearch npm dependency
  package-lock.json
  package.json
Due: none

.
  .gitignore
  DB.js
  Score.js
  app.js
  package-lock.json
  package.json
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

.
  package.json
Due: none

.
  app.js
Due: eslint --cache --fix, prettier --write

First version suggestions without filter
  app.js
  config.js
  package.json
  src/app.js
  src/infrastructure/suggestions.adapter.js
  src/query/suggestions.query.js
  src/user/error.response.js
  src/user/suggestion.response.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

reorganize search suggestions
  config.js
  src/infrastructure/suggestions/elasticsearch.client.js
  src/infrastructure/suggestions/score.js
  src/infrastructure/suggestions/search.adapter.js
  src/query/suggestions.query.js
Due: eslint --cache --fix, prettier --write

remove debug
  config.js
  src/infrastructure/suggestions/elasticsearch.client.js
Due: eslint --cache --fix, prettier --write

geolocation implemented
  src/app.js
  src/infrastructure/suggestions/score.js
  src/infrastructure/suggestions/search.adapter.js
  src/query/suggestions.query.js
Due: eslint --cache --fix, prettier --write

fix score precision. Remove some debug
  src/infrastructure/suggestions/score.js
  src/infrastructure/suggestions/search.adapter.js
  src/user/suggestion.response.js
Due: eslint --cache --fix, prettier --write

Initial version of importer
  src/app.js
  src/command/suggestions.command.js
  src/user/importer/geoname.csv.importer.js
  src/user/response/error.response.js
  src/user/response/suggestion.response.js
Due: eslint --cache --fix, prettier --write

fix typo
  src/app.js
  src/user/importer/geoname.importer.js
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.{js,css,md}
