Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

feat(score): calculate score
  service.js
Due: eslint --cache --fix, prettier --write

chore(api): remove OAS glue
  api/serverless.js
  app.js
Due: eslint --cache --fix, prettier --write

chore(docs): add deployment notes
  README.md
Due: prettier --write

chore: add gitignore
  .gitignore
Due: none

chore: add commit linter
  package-lock.json
  package.json
Due: none

chore: add typescript
  .gitignore
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: add eslint
  .eslintrc.json
  package-lock.json
  package.json
Due: none

chore: add prettier config file
  .prettierrc.json
Due: none

chore: replace mocha with jest and add express
  jest.config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

chore: add dotenv, ts-node-dev and fix supertest dependency
  package-lock.json
  package.json
Due: none

chore: rewrite scripts
  package.json
  tsconfig.build.json
  tsconfig.json
Due: none

chore: add env example
  .env.example
  .gitignore
Due: none

refactor: app main file rewritten in typescript
  app.js
  src/app.ts
  src/server.ts
Due: eslint --cache --fix, prettier --write

test: add first new test using jest in typescript
  test/suggestions.spec.ts
Due: none

test: improve code readability and typing
  test/suggestions.spec.ts
Due: none

refactor: isolate route
  src/app.ts
  src/config/routes.ts
  src/routes/cities-routes.ts
Due: none

chore: add prisma
  .env.example
  package-lock.json
  package.json
  prisma/schema.prisma
Due: none

feat: add city table
  prisma/migrations/20230811003230_create_city_table/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

feat: add seed
  package.json
  prisma/seed.ts
Due: none

refactor: isolate controller for suggestions route
  src/controllers/cities/get-suggestions.controller.ts
  src/routes/cities-routes.ts
  src/routes/cities.routes.ts
Due: none

Initialize Prisma, Docker, Tests, Express, GCP
  .dockerignore
  .gitignore
  .nvmrc
  .prettierrc.json
  Dockerfile
  app.js
  data/README.md
  data/cities_canada-usa.tsv
  data/codes.ts
  dist/api/router.js
  dist/api/server.js
  dist/api/startServer.js
  dist/findCities.js
  docker-compose.yml
  package-lock.json
  package.json
  prisma/migrations/20230807130310_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  src/api/router.ts
  src/api/server.ts
  src/api/startServer.ts
  src/findCities.ts
  test/suggestions.js
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: extend express request interface to add context property
  src/types/express/index.d.ts
Due: none

chore: fix dev script to type extensions work fine
  package.json
Due: none

Require Node v20
  package.json
Due: none

feat: add context generation for every route
  src/config/routes.ts
  src/middleware/generate-context.ts
Due: none

refactor: isolated service from suggestions controller
  src/controllers/cities/get-cities-suggestions.controller.ts
  src/controllers/cities/get-suggestions.controller.ts
  src/routes/cities.routes.ts
  src/services/cities/get-cities-suggestions.service.ts
Due: none

Add Node version, Docker commands, Readme
  Dockerfile
  README.md
  package.json
Due: prettier --write

Update README, remove scripts folder & prisma migrations
  README.md
  package-lock.json
  prisma/migrations/20230807130310_init/migration.sql
  prisma/migrations/migration_lock.toml
  src/findCities.ts
Due: prettier --write

feat: enable trigraph extension on database and add index
  prisma/migrations/20230811205301_enable_trigraph_extension/migration.sql
  prisma/migrations/20230811210332_create_trigraph_index_at_column_name_on_table_city/migration.sql
  prisma/schema.prisma
Due: none

feat: add helpers
  src/helpers/errors/index.ts
  src/helpers/errors/invalid-param-error.ts
  src/helpers/errors/missing-param-error.ts
  src/helpers/errors/server-error.ts
  src/helpers/express/index.ts
  src/helpers/http/index.ts
Due: none

feat: add domains
  src/domain/models/city.ts
  src/domain/models/index.ts
Due: none

feat: add query to database and isolate in service function
  src/controllers/cities/get-cities-suggestions.controller.ts
  src/services/cities/get-cities-suggestions.service.ts
Due: none

chore: add jest extended
  package-lock.json
  package.json
Due: none

test: add all suggested tests to new file and remove old js file
  test/suggestions.js
  test/suggestions.spec.ts
Due: eslint --cache --fix, prettier --write

refactor: remove json stringfy to send as json
  src/controllers/cities/get-cities-suggestions.controller.ts
Due: none

refactor: isolate query to city suggestions and create env helper
  src/config/env.ts
  src/infra/db/cities/find-many-cities-suggestions.ts
  src/server.ts
  src/services/cities/get-cities-suggestions.service.ts
Due: none

feat: add score based on location and distance
  src/config/env.ts
  src/controllers/cities/get-cities-suggestions.controller.ts
  src/domain/models/index.ts
  src/domain/models/utils.ts
  src/helpers/cities/city-distance-score.ts
  src/helpers/utils/distance.ts
  src/services/cities/get-cities-suggestions.service.ts
Due: none

chore: update env example
  .env.example
Due: none

chore: add strict rules on typescript config and refactor code
  src/config/env.ts
  src/controllers/cities/get-cities-suggestions.controller.ts
  src/helpers/errors/server-error.ts
  src/helpers/http/index.ts
  src/middleware/generate-context.ts
  src/services/cities/get-cities-suggestions.service.ts
  test/suggestions.spec.ts
  tsconfig.json
Due: none

Delete excess Dockerfile commands
  Dockerfile
Due: none
