Repository busbud/coding-challenge-backend-c: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,css,md}": "prettier --write"
}

Small updates for the comments.
  src/app.js
  src/helpers/miscs.helper.js
  src/libs/parser.lib.js
Due: eslint --cache --fix, prettier --write

Handling a bad request with its respective test case.
  src/controllers/miscs.controller.js
  test/suggestions.js
Due: eslint --cache --fix, prettier --write

Renaming method to a generic one.
  src/app.js
  src/controllers/miscs.controller.js
Due: eslint --cache --fix, prettier --write

improve scores based on modifiers
  services/services.js
  test/unit.js
Due: eslint --cache --fix, prettier --write

improve matching for multiple terms
  services/services.js
  test/fixtures/cities_canada-usa.tsv
  test/unit.js
Due: eslint --cache --fix, prettier --write

add extra population category
  services/services.js
Due: eslint --cache --fix, prettier --write

improve score when matching multiple words
  services/services.js
  test/unit.js
Due: eslint --cache --fix, prettier --write

improve search & scoring
  services/datasource.js
  services/services.js
  test/unit.js
Due: eslint --cache --fix, prettier --write

improve criteria for perfect score
  services/services.js
  test/fixtures/cities_canada-usa.tsv
  test/unit.js
Due: eslint --cache --fix, prettier --write

Restructuring the integration tests.
  test/integration/app.test.js
Due: eslint --cache --fix, prettier --write

Adding unit tests.
  test/unit/helpers/miscs.helper.test.js
  test/unit/mocks/generators.mock.js
  test/unit/mocks/index.js
Due: eslint --cache --fix, prettier --write

Updating scripts to run tests and get reports.
  .huskyrc
  package.json
Due: none

Fixing the app request listener.
  src/app.js
Due: eslint --cache --fix, prettier --write

Fixing the nodemon reference for the debugging script.
  package.json
Due: none

Dockerizing the project.
  Dockerfile
  Dockerfile.dev
  docker-compose.yaml
Due: none

Restoring default test script updated.
  package.json
Due: none

Updating the README file.
  README.md
Due: prettier --write

Adding a .dockerignore file.
  .dockerignore
Due: none

Adding a Procfile to make the app run on Heroku.
  Procfile
Due: none

Fixing node ref within the Procfile.
  Procfile
Due: none

Adding a .csv file based on the .tsv file.
  data/cities_canada-usa.csv
Due: none

Adding some details to perform load tests.
  README.md
Due: prettier --write

Updating the node version managed by nvm.
  .nvmrc
Due: none

Updating the project to v0.0.1
  package-lock.json
  package.json
Due: none

Set a PORT to run integration tests and prevent crashes when the app Is running.
  package.json
  test/integration/app.test.js
Due: eslint --cache --fix, prettier --write

Adding a built-in option to run tests before building an image for production.
  Dockerfile
Due: none

Adding a .travis.yml file to set some ci settings.
  .travis.yml
Due: none

Adding the yaml-validator package to validate YAML files.
  package-lock.json
  package.json
Due: none

Adding a script to validate the .travis.yml file.
  .huskyrc
  package.json
Due: none

Removing unnecessary asynchrony.
  src/app.js
  src/controllers/miscs.controller.js
Due: eslint --cache --fix, prettier --write

Loading data in memory once in order to scale performance.
  src/app.js
  src/controllers/suggestions.controller.js
  src/services/suggestions.service.js
Due: eslint --cache --fix, prettier --write

Adding an example output based on the settings for the artillery file.
  README.md
Due: prettier --write

Adding blockquote to remind create a .csv file in order to make the project work.
  README.md
Due: prettier --write

Small update for the exported app.
  src/app.js
  test/integration/app.test.js
Due: eslint --cache --fix, prettier --write

Adding helper functions to handle errors.
  src/helpers/errors.helper.js
Due: eslint --cache --fix, prettier --write

Adding the event to handle server errors.
  src/app.js
Due: eslint --cache --fix, prettier --write

Handling errors within the service and controllers.
  src/controllers/miscs.controller.js
  src/controllers/suggestions.controller.js
  src/helpers/index.js
  src/services/suggestions.service.js
Due: eslint --cache --fix, prettier --write

Define some special events to handle some situations.
  src/app.js
  src/helpers/events.helper.js
  src/helpers/index.js
Due: eslint --cache --fix, prettier --write

Use the same image to run tests and run the app in production mode.
  Dockerfile
Due: none

Adding useful packages for unit testing.
  package-lock.json
  package.json
Due: none
